.global-nav {
  box-shadow: $shadow;

  .menu-btn { display: none; }

  .menu {
    display: flex;
    align-items: baseline;
    margin: 0 100px;
    padding: 0;

    .nav-item {
      flex: 1;
      list-style: none;

      a {
        @include a($hover: $black);
        text-decoration: none;
        display: block;
        text-align: center;
        line-height: 60px;
        letter-spacing: 2px;
        font-size: 0.9rem;
      }

      .top-img {
        width: auto;
        height: 60px;
        display: inline;
      }
    }
  }
}

@media (max-width: 768px) {
  .global-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    opacity: 0.92;

    .menu-btn {
      position: absolute;
      right: 20px;
      display: block;
      line-height: 60px;

      a { text-decoration: none; }
    }

    .menu {
      margin: 0 10px;
      display: block;
      height: 60px;
    }

    .nav-item {
      display: none;

      &:first-child {
        display: block;
        left: calc(50% - 56px/2);
      }
    }

    .hover-circle-all { background: none; }
    .hover-circle-pink { @include circle-pink; }
    .hover-circle-orange { @include circle-orange; }
    .hover-circle-yellow { @include circle-yellow; }
    .hover-circle-green { @include circle-green; }
    .hover-circle-blue { @include circle-blue; }

    .hover-circle-pink,
    .hover-circle-orange,
    .hover-circle-yellow,
    .hover-circle-green,
    .hover-circle-blue {
      background-position: 40px;
      font-weight: bold;
    }
  }
}
