.global-nav {
  box-shadow: $shadow;

  .menu-btn { display: none; }

  .menu {
    display: flex;
    align-items: baseline;
    margin: 0 100px;
    padding: 0;

    .nav-item {
      flex: 1;
      list-style: none;

      @media (min-width: 900px) {
        &:first-child {
          &:hover {
            @include animhop;
          }
        }
      }

      a {
        @include a($color: $black);
        text-decoration: none;
        display: block;
        text-align: center;
        line-height: $nav-height;
        letter-spacing: 2px;
        font-size: 0.9rem;
      }

      .top-img {
        width: auto;
        height: $nav-height;
        display: inline;
      }

      .hover-circle-pink.active { @include circle-pink; }
      .hover-circle-orange.active { @include circle-orange; }
      .hover-circle-yellow.active { @include circle-yellow; }
      .hover-circle-green.active { @include circle-green; }
      .hover-circle-blue.active { @include circle-blue; }

      .ja { display: none; }

      @media (min-width: 900px) {
        &:hover {
          .en { display: none; }
          .ja { display: inline; }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .global-nav {
    position: fixed;
    top: -3px;
    width: 100%;
    background-color: $white;
    z-index: 2;
    opacity: $semitransparent;

    .menu-btn {
      position: absolute;
      right: 0px;
      display: block;
      line-height: $nav-height;
      padding: 0 20px;
      width: 30%;
      text-align: right;

      a { text-decoration: none; }
    }

    .menu {
      margin: 0;
      display: block;
      height: 60px;
    }

    .nav-item {
      display: none;

      &:first-child {
        display: block;
        width: 70%;
        padding-bottom: 60px;

        .top-img {
          position: absolute;
          left: calc(50% - 56px/2);
        }
      }
    }

    .hover-circle-all { background: none; }
    .hover-circle-pink { @include circle-pink; }
    .hover-circle-orange { @include circle-orange; }
    .hover-circle-yellow { @include circle-yellow; }
    .hover-circle-green { @include circle-green; }
    .hover-circle-blue { @include circle-blue; }

    .hover-circle-pink,
    .hover-circle-orange,
    .hover-circle-yellow,
    .hover-circle-green,
    .hover-circle-blue {
      background-position: 40px;
      font-weight: bold;
    }
  }
}
