#top {
  > * { padding: 0; }

  .toplogo {
    position: relative;
    margin: 100px auto 0 auto;
    width: 60%;
  }

  #lol-logo { position: relative; }

  #lol-circle-pink,
  #lol-circle-orange,
  #lol-circle-yellow,
  #lol-circle-green,
  #lol-circle-blue {
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
  }

  #lol-circle-pink {
    @include animrandompop(0.5s);
    background-color: $lol-pink;
    width: 16%;
    height: 23%;
    top: 42%;
    left: 28%;
  }

  #lol-circle-orange {
    @include animrandompop(3.2s);
    background-color: $lol-orange;
    width: 11%;
    height: 16%;
    top: 23%;
    left: 45%;
  }

  #lol-circle-yellow {
    @include animrandompop(2.3s);
    background-color: $lol-yellow;
    width: 26%;
    height: 37%;
    top: 49%;
    left: 8%;
  }

  #lol-circle-green {
    @include animrandompop(3.7s);
    background-color: $lol-green;
    width: 20%;
    height: 28%;
    top: 70%;
    left: 35%;
  }

  #lol-circle-blue {
    @include animrandompop(1s);
    background-color: $lol-blue;
    width: 17%;
    height: 24%;
    top: 44%;
    left: 62%;
  }

  .lead {
    text-align: center;
    line-height: 2.5;

    .btn { margin: 10px; }
  }

  @media (max-width: 700px) {
    .lead {
      .btn { margin: 6px 0; }
    }

    .toplogo { width: 100%; }
  }
}

#about {
  @media (max-width: 900px) {
    table { margin: 0 auto; }
  }
}

#sponsor-lists {
  .sponsor-lists {
    list-style: none;
    display: table;
    margin: 0 -16px 40px;
    min-width: 100%;

    .sponsor {
      display: table-cell;
      width: (100%/3);
      padding: 0 16px;

      .icon {
        width: 100%;
        max-width: 170px;
        margin: 0 auto 16px;
      }

      .name {
        font-weight: bold;
        text-align: center;
      }
    }
  }

  @media (max-width: 900px) {
    .sponsor-lists {
      margin: 0;
      display: block;

      .sponsor {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0 0 40px;
      }
    }
  }
}
