.wrapper {
  [class*="circle-"] {
    font-size: 1.8rem;
    letter-spacing: 2px;
    background-size: 100px;
    line-height: 100px;
    padding-left: 60px;

    @media (max-width: 900px) {
      background-size: 60px;
      line-height: 60px;
      padding-left: 40px;
      letter-spacing: 1px;
    }
  }

  margin: 0 100px 100px 100px;

  @media (max-width: 900px) {
    margin: 100px 10px 50px 10px;
  }
}

.section {
  margin: 100px auto;

  > * { padding-left: 60px; }

  ul, ol { margin-left: 20px; }

  table {
    width: 90%;

    @media (max-width: 900px) {
      width: 100%;
      margin: 10px 0;
    }

    ul {
      margin-left: 0;
      padding-left: 20px;
    }
  }

  .btn,
  button {
    margin: 10px 0;
  }

  @media (max-width: 900px) {
    margin: 50px auto;

    > * { padding-left: 0; }
  }
}

#top {
  > * { padding: 0; }

  .toplogo {
    position: relative;
    margin: 100px auto 0 auto;
    width: 60%;
  }

  #lol-logo { position: relative; }

  #lol-circle-pink,
  #lol-circle-orange,
  #lol-circle-yellow,
  #lol-circle-green,
  #lol-circle-blue {
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
  }

  #lol-circle-pink {
    @include animRandomPop(0.5s);
    background-color: $lol-pink;
    width: 16%;
    height: 23%;
    top: 42%;
    left: 28%;
  }

  #lol-circle-orange {
    @include animRandomPop(3.2s);
    background-color: $lol-orange;
    width: 11%;
    height: 16%;
    top: 23%;
    left: 45%;
  }

  #lol-circle-yellow {
    @include animRandomPop(2.3s);
    background-color: $lol-yellow;
    width: 26%;
    height: 37%;
    top: 49%;
    left: 8%;
  }

  #lol-circle-green {
    @include animRandomPop(3.7s);
    background-color: $lol-green;
    width: 20%;
    height: 28%;
    top: 70%;
    left: 35%;
  }

  #lol-circle-blue {
    @include animRandomPop(1s);
    background-color: $lol-blue;
    width: 17%;
    height: 24%;
    top: 44%;
    left: 62%;
  }

  .lead {
    text-align: center;
    line-height: 2.5;

    .btn { margin: 10px; }
  }

  @media (max-width: 700px) {
    .lead {
      .btn { margin: 6px 0; }
    }

    .toplogo { width: 100%; }
  }
}

#about {

  @media (max-width: 900px) {
    table { margin: 0 auto; }
  }
}

#timetable {
}

#access {
  img {
    width: 50%;
    margin: 10px 0;
  }

  address { margin-bottom: 10px; }

  .googlemap {
    display: block;
    margin: 10px 0 10px 60px;
    padding: 0;

    iframe {
      width: 100%;
      height: 450px;
      border: 0;
      pointer-events: none;
    }
  }

  @media (max-width: 900px) {
    ul { margin: 0; }

    img { width: 100%; }

    .googlemap {
      margin-left: 0;

      iframe { height: 300px; }
    }
  }
}

#contact {
  .members {
    display: table;
    margin: 0 -16px 32px;

    .member {
      display: table-cell;
      width: 20%;
      padding: 0 16px;

      .icon {
        width: 80%;
        max-width: 170px;
        margin: 0 auto 16px;
        border: 6px solid lighten($lol-green, 10%);
        border-radius: 50%;

        img { border-radius: 50%; }
      }

      .name {
        font-weight: bold;
        text-align: center;
      }

      .position {
        text-align: center;
      }

      .introduction {
        text-align: center;
      }
    }
  }

    @media (max-width: 900px) {
      .members {
        margin: 0;
        display: block;

        .member {
          width: 100%;
          display: block;
          padding: 0;
          margin: 0 0 40px;
        }
      }
    }
}

.booth-size {
  width: 60%;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.backtotop {
  position: relative;
  display: none;

  #twitter,
  #backToTopBtn {
    position: fixed;
    display: block;
    color: $white;
    background-color: $lol-blue;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    opacity: $semitransparent;
    cursor: pointer;

    &:hover,
    &:active {
      color: $white;
      background-color: lighten($lol-blue, 10%);
    }
  }

  #twitter {
    color: $official-twitter;
    background-color: $white;
    border: 2px solid $official-twitter;
    bottom: 80px;
    padding: 12px;

    &:hover,
    &:active {
      background-color: $official-twitter;
    }

    &:hover path,
    &:active path {
      fill: $white;
    }
  }
}

#jrkobe-linemark {
  color: $white;
  background-color: #0277C4;
  padding: 0 4px 0 5px;
}
