#timetable {
  .booth-size { width: 60%; }

  @media (max-width: 900px) {
    .presentation-timetable,
    .booth-timetable {
      th,
      tr > td:first-child {
        display: none;
      }
    }

    .booth-size { width: 100%; }
  }

  .timetable-row {
    .name {
      .sns-icon {
        text-decoration: none;

        path { transition: $fade; }
      }

      .sns-icon.twitter {
        &:hover path,
        &:active path {
          fill: $official-twitter;
        }
      }

      .sns-icon.web {
        &:hover path,
        &:active path {
          fill: $lol-green;
        }
      }
    }
  }

  .modal { display: none; }

  .modalBody {
    position: fixed;
    top: 50px;
    left: 50%;
    z-index: 1000;
    margin-left: -325px;
    width: 650px;
    max-height: 90%;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 30px rgba($black, 0.6);
    padding: 40px 60px;
    overflow-y: overlay;
    overflow-x: hidden;
    line-height: 2;

    ul {
      margin: 20px;
      padding: 0;
    }

    @media (max-width: 650px) {
      width: 90%;
      left: 0;
      margin: auto 5%;
      padding: 20px 40px;
    }
  }

  .modalBK {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba($black, .5);
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .btns { cursor: pointer; }
}
