nav.global-nav
  div.menu-btn: div MENU
  ul.menu
    li.nav-item: a.hover-circle-all(href="./index.html"): img.top-img(src="./images/simplelogo-lol.png" alt="高専カンファlol公式ロゴ")
    li.nav-item: a.hover-circle-pink(href="./index.html#about") ABOUT
    li.nav-item: a.hover-circle-orange(href="./timetable.html") TIMETABLE
    li.nav-item: a.hover-circle-yellow(href="./programs.html") PROGRAMS
    li.nav-item: a.hover-circle-green(href="./access.html") ACCESS
    li.nav-item: a.hover-circle-blue(href="./sponsors.html") SPONSORS
