nav.global-nav
  div.menu-btn MENU
  ul.menu
    li.nav-item: a.hover-circle-all(href="./index.html"): img.top-img(src="./images/simplelogo-lol.png" alt="高専カンファlol公式ロゴ")
    li.nav-item: a.hover-circle-pink(href="./timetable.html")
      span.en TIMETABLE
      span.ja タイムテーブル
    li.nav-item: a.hover-circle-orange(href="./application.html")
      span.en APPLICATION
      span.ja 募集情報
    li.nav-item: a.hover-circle-yellow(href="./access.html")
      span.en ACCESS
      span.ja アクセス
    li.nav-item: a.hover-circle-green(href="./contact.html")
      span.en CONTACT
      span.ja 連絡先
    li.nav-item: a.hover-circle-blue(href="./sponsors.html")
      span.en SPONSORS
      span.ja スポンサー募集
