meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1")

//- TODO: descriptionとかkeywordsはあとで考える
meta(name="description" content="")
meta(name="keywords" content="")

// TODO: ogpとかもあとで考える
meta(property="og:type" content="website")
meta(property="og:title" content="")
meta(property="og:description" content="")
meta(property="og:image" content="")
meta(property="og:url" content="")
meta(property="og:site_name" content="")
meta(property="og:locale" content="")
meta(property="fb:admins" content="")
meta(property="fb:app_id" content="")
meta(content="summary" name="")
meta(content="" name="")

link(rel="stylesheet" href="./styles/style.css")
