include ./_head
include ./_global-nav

doctype html
html(lang="ja")
  head
    +head("アクセス", "article")

  body
    +global-nav()

    div.wrapper
      section.section#access
        h1 ACCESS

        h2.circle-yellow 鉄道をご利用の場合
        section
          p
            strong JR神戸（こうべ）線
            | をご利用ください。路線記号
            strong [A]
            | が目印です。最寄り駅は
            strong JR魚住（うおずみ）駅
            | です。
          ul
            li 日中時間帯、魚住駅には快速列車（西明石駅以西は普通列車となる）が停車します。
            li 京阪神間の移動には新快速列車が便利です。新快速列車をご利用の場合、
              ul
                li
                  | 東からお越しの方は、
                  strong 西明石（にしあかし）駅
                  | で新快速から普通列車にお乗り換えください。
                li
                  | 西からお越しの方は、
                  strong 加古川（かこがわ）駅
                  | で新快速から普通列車にお乗り換えください。
            li
              | 西明石でのお乗り換えの際、以下のことに
              strong 十分にご注意ください
              | 。
              ul
                li 以下のような座席配置の普通列車は
                  strong 西明石で折り返してしまいます
                  | 。
                  img(src="./images/access_t_local.jpg" alt="西明石以西に行かない普通列車")
                li 以下のような座席配置の普通列車にお乗り換えいただくと、
                  strong 西明石より西に進むことができます
                  | 。
                  img(src="./images/access_t_rapid.jpg" alt="西明石以西に行く普通列車")
        h2.circle-yellow 飛行機をご利用の場合
        section
          ul
            li
              strong 関西国際空港から
              | …JR関西空港駅から関空快速で
              strong 大阪駅
              | までお越しいただくと、JR神戸線にお乗り換えができます。
            li
              strong 神戸空港から
              | …
              strong ポートライナー
              | で
              strong 三宮（さんのみや）駅
              | までお越しいただき、
              strong JR三ノ宮（さんのみや）駅
              | まで徒歩で移動していただくとJR神戸線にお乗り換えができます。
        h2.circle-yellow 最寄り駅からのアクセス
        section
          address
            a(href="http://www.akashi.ac.jp/" target="_blank") 明石工業高等専門学校
            br
            | 〒674-0084 兵庫県明石市魚住町西岡679-3
          ul
            li JR魚住駅から
              strong 徒歩5分
            li 改札口を出て右に曲がり、階段を降りて前に伸びる道を直進します。
            li 右手にコンクリート造の大きな門と校舎のような建物が見えたらその門をくぐってください。
          a.googlemap(href="http://maps.apple.com/?q=%E6%98%8E%E7%9F%B3%E5%B7%A5%E6%A5%AD%E9%AB%98%E7%AD%89%E5%B0%82%E9%96%80%E5%AD%A6%E6%A0%A1")
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13121.508307314607!2d134.902351!3d34.695668!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xc0e27a7b363c111d!2z5Zu956uL5piO55-z5bel5qWt6auY562J5bCC6ZaA5a2m5qCh!5e0!3m2!1sja!2sjp!4v1453799312018" title="明石高専周辺の地図")

    include ./_footer
    include ./_scripts
