include ./_head
include ./_global-nav

doctype html
html(lang="ja")
  head
    +head("募集情報", "article", "「プレゼン発表」では、一般発表とLightning Talkの2種類の発表形式で募集を行います。「ブース発表」では基本的にどのようなことをしていただくのも自由です。また、ブース発表会場でのポスターの掲示の依頼も受け付けております。")

  body
    +global-nav()

    div.wrapper
      section.section#application
        h1 APPLICATION

        h2.circle-orange#presentation プレゼン発表
        section
          p 「プレゼン発表」では、一般発表とLightning Talkの2種類の発表形式で募集を行います。
          p
            strong 発表者募集締め切りは 4/2（土）23:59 です。
            br
            a.btn.presentation(href="https://docs.google.com/forms/d/1y_AtQeDDOHcNzOtKRP4C15bVi71fO0lsHfvIdi56U0o/viewform" target="_blank") 一般発表 / LT への申し込みはこちら
          p
            | 応募フォームは送信後、編集用リンクが表示されます。
            br
            | 応募後に内容を再編集していただくことが可能ですので、「発表したいけど内容がまだ…」という方も、まずはお気軽にご応募ください！
          p
            | 予定の時間枠以上の数の応募があった場合は、実行委員による発表者選考を行う場合がございます。
            br
            | 選考結果によっては発表をご遠慮頂く場合がございますので、ご了承ください。

          section
            h3 一般発表
            table
              tr
                th 発表時間
                td: strong 10分
              tr
                th 発表形式
                td
                  ul
                    li 普通の / 普通じゃないスライド発表
                    li ライブコーディング
                    li 授業
                    li 演説
                    li 説教（ただし、lolなものに限る）
                  | などなど公的良俗に反しなければ、なんでもOKです。
              tr
                th 申し込み締め切り
                td: strong 4/2（土）23:59 まで

          section
            h3 Lightning Talk
            table
              tr
                th 発表時間
                td: strong 5分
              tr
                th 発表形式
                td 一般発表と同じ
              tr
                th 締め切り
                td: strong 4/2（土）23:59まで

            p: a.btn.presentation(href="https://docs.google.com/forms/d/1y_AtQeDDOHcNzOtKRP4C15bVi71fO0lsHfvIdi56U0o/viewform" target="_blank") 一般発表 / LT への申し込みはこちら
            small ※お送りいただいた概要によっては、発表をご遠慮いただく場合がございます。
          section
            h3 宣伝・告知枠について
            p
              | 高専カンファレンスlolでは、クロージングが始まる前の10分間を、「宣伝・告知」の時間としてセッティングしています。
              br
              | 「今度こういうイベント・勉強会を開催するのでぜひ来てください！」等の告知を行う時間としてご活用ください！
            h4 発表参加方法
            p
              strong 当日の飛び入り参加のみ
              | となります。
              br
              | 当日、参加募集アナウンスを行いますので、ご注意の上、ご参加ください。
            h4 発表時間
            p
              | 発表参加人数に関わらず、「宣伝・告知」全体で10分間となっております。
              br
              small ex.)発表参加者が5人の場合一人当たりの持ち時間は平均2分
              br
              | 他の発表者の方も考慮した、良心的な発表時間を見積もっていただいた上でご準備ください。
            h4 注意事項
            ul
              li 企業、またはそれに準ずる団体・組織の宣伝・告知はお断りさせていただきます。
              li また、上記に関連しまして、企業主催のイベント・勉強会の宣伝・告知もお断りさせていただきます。あらかじめご了承ください。
              li また、企業の方で宣伝告知をご希望の方は、プレゼン発表スポンサー枠（有料）をご用意しております。詳細は
                a(href="./sponsors.html") こちら
                | をご確認ください。
            p ご協力よろしくお願い致します。

        h2.circle-orange#booth ブース発表
        section
          p
            | 高専カンファレンスlolでは「ブース発表」を企画しています。
            br
            | ブース発表では発表者の皆様にブース（机）をご用意します。ブース発表では基本的にどのようなことをしていただくのも自由です。
          p
            strong 発表者募集締め切りは 4/2（土）23:59 です。
            br
            a.btn.booth(href="http://goo.gl/forms/5wkQucuhHP" target="_blank") ブース発表への申し込みはこちら
          p
            | 応募フォームは送信後、編集用リンクが表示されます。
            br
            | 応募後に内容を再編集していただくことが可能ですので、「発表したいけど内容がまだ…」という方も、まずはお気軽にご応募ください！
          table
            tr
              th 発表時間
              td: strong 30分
            tr
              th ブースのサイズ
              td 幅180cm 
                small ×
                |  奥行き180cm
            tr
              th 机のサイズ
              td 幅180cm 
                small ×
                |  奥行き45cm（高さ70cm）
            tr
              th 募集数
              td 10件
          section
            h3 会場・ブース見取り図
            img.booth-size(src="./images/room/booth-size.png" alt="180cm四方のブースです。机の奥行きは45cm、隣のブースとの間は50cmあります。")
          section
            h3 発表される方へ
            ul
              li できる限り多くの方に自由に発表していただきたいと考えておりますが、 会場の制約等のためにご希望に添えない場合がございます。
              li ブースでのポスターの掲示は自由ですが、ブース位置の関係で 希望する枚数のポスターが貼りづらくなる場合がございます。
              li 音を出す・強い光を出すなど、他の発表者様の迷惑になる可能性のある展示の場合は 必ずその旨を備考欄にお書きください。
              li 電源、その他設備を貸し出すことができます。 希望する物品・設備を、申し込みフォームの「借りたい物品・設備」欄にお書きいただければ 運営でその内容を確認後、追って貸出の可否をご連絡いたします。
              li 食品・飲料の配布・販売はご遠慮ください。
              li 本カンファレンスでの発表に関し、展示物の破損や故障など発表者に不利益が生じた場合、 運営は一切責任を負いかねます。
              li 企業様のブース発表は有料となります。詳しくは
                a(href="./sponsors.html") スポンサー募集
                | をご覧ください。
            p 以上の点をご了承の上、ご応募ください。 運営一同、できる限りご協力いたしますので、不明な点はお気軽にご相談ください。
            p: a.btn.booth(href="http://goo.gl/forms/5wkQucuhHP" target="_blank") ブース発表への申し込みはこちら

          section
            h3 ポスター掲示について
            p また、ブース発表会場でのポスターの掲示の依頼も受け付けております。
            p 「ブース発表まではしたくないけど、ポスターだけ掲示して欲しいなあ・・・」 という方のために、会場後方の掲示板でポスターを掲示できるようにしました！ 企業様の宣伝用ポスターから、イベント告知、絵を描いてみた！まで、 会場を賑わす様々なポスターを募集します。
            h4 応募確定のプロセス
            ol
              li あなたが、以下のリンクから応募します。
              li 運営から、ご連絡先メールアドレス宛にポスターの内容確認のためのメールをお送りいたします。
              li あなたが、そのメールにポスターの画像（写真）を添付して返信します。
              li 運営から、確認完了メールをお送りいたします。
            p このタイミングで応募が確定します。

            h4 ポスター掲示を希望される方へ
            ul
              li ポスターは、当日受付時に受付にお渡しください。 当日にポスターをお持ち込みいただけない場合、ポスターを掲示することはできません。
              li 予め確認させていただいたポスターとお持ちいただいたポスターが異なっていた場合、掲示をお断りさせていただく場合がございます。
              li ポスター掲示スペースは十分な広さを確保していますが、応募状況によってはその全てを掲示できない場合がございます。
              li 企業様のポスター掲示は有料となります。詳しくは
                a(href="./sponsors.html") スポンサー募集
                | をご覧ください。
            p: a.btn.booth(href="https://docs.google.com/forms/d/1YHtlVZmnemxaV3xUHbDrAcEaCXEzQbL5eZlHRNsoqYc/viewform" target="_blank") ポスター掲示への申し込みはこちら

        h2.circle-orange#contact 連絡先
        section
          address
            | kosenconf-lol+booth[at]googlegroups.com
            br
            | （[at]を@に変えてご送信ください）

    include ./_footer
    include ./_scripts
    +scripts("application")
