doctype html5
html(lang="ja")
  head
    include ./_head
    title 高専カンファレンスlol | 企画

  body
    include ./_global-nav

    div.wrapper
      section.section#application
        h1 APPLICATION

        h2.circle-orange#presentation プレゼン発表
        p 「プレゼン発表」では、一般発表とLightning Talkの2種類の発表形式で募集を行います。
        p
          strong 発表者募集締め切りは 4/2（土）23:59 です。
          br
          a.btn.disabled 一般発表 / LT への申し込みはこちら
          //- TODO: リンク
          //- a.btn.presentation(href="https://docs.google.com/forms/d/1y_AtQeDDOHcNzOtKRP4C15bVi71fO0lsHfvIdi56U0o/viewform" target="_blank") 一般発表 / LT への申し込みはこちら
        p
          | 応募フォームは送信後、編集用リンクが表示されます。
          br
          | 応募後に内容を再編集していただくことが可能ですので、「発表したいけど内容がまだ…」という方も、まずはお気軽にご応募ください！

        h3 一般発表
        table
          tr
            th 発表時間
            td: strong 10分
          tr
            th 発表形式
            td
              ul
                li 普通の / 普通じゃないスライド発表
                li ライブコーディング
                li 授業
                li 演説
                li 説教（ただし、lolなものに限る）
              | などなど公的良俗に反しなければ、なんでもOKです。
          tr
            th 申し込み締め切り
            td: strong 4/2（土）23:59 まで

        h3 Lightning Talk
        table
          tr
            th 発表時間
            td: strong 5分
          tr
            th 発表形式
            td 一般発表と同じ
          tr
            th 締め切り
            td: strong 4/2（土）23:59まで

        p: a.btn.disabled 一般発表 / LT への申し込みはこちら
        //- TODO: リンク
        //- p: a.btn.presentation(href="https://docs.google.com/forms/d/1y_AtQeDDOHcNzOtKRP4C15bVi71fO0lsHfvIdi56U0o/viewform" target="_blank") 一般発表 / LT への申し込みはこちら
        small ※お送りいただいた概要によっては、発表をご遠慮いただく場合がございます。

        h2.circle-orange#booth ブース発表
        p
          | 高専カンファレンスlolでは「ブース発表」を企画しています。
          br
          | ブース発表では発表者の皆様にブース（机）をご用意します。ブース発表では基本的にどのようなことをしていただくのも自由です。
        p
          strong 発表者募集締め切りは 4/2（土）23:59 です。
          br
          a.btn.disabled ブース発表への申し込みはこちら
          //- TODO: リンク
          //- a.btn.booth(href="http://goo.gl/forms/5wkQucuhHP" target="_blank") ブース発表への申し込みはこちら
        p
          | 応募フォームは送信後、編集用リンクが表示されます。
          br
          | 応募後に内容を再編集していただくことが可能ですので、「発表したいけど内容がまだ…」という方も、まずはお気軽にご応募ください！
        table
          tr
            th 発表時間
            td: strong 30分
          tr
            th ブースのサイズ
            td 幅180cm 
              small ×
              |  奥行き180cm
          tr
            th 机のサイズ
            td 幅180cm 
              small ×
              |  奥行き45cm（高さ70cm）
        h3 ブース見取り図
        img(src="./images/room/booth-size.png" alt="180cm四方のブースです。机の奥行きは45cm、隣のブースとの間は50cmあります。")
        h3 発表される方へ
        ul
          li できる限り多くの方に自由に発表していただきたいと考えておりますが、 会場の制約等のためにご希望に添えない場合があります。予めご了承ください。
          li 音を出す・強い光を出すなど、他の発表者様の迷惑になる可能性のある展示の場合は 必ずその旨を備考欄にお書きください。
          li 電源、その他設備を貸し出すことができます。 希望する物品・設備を、申し込みフォームの「借りたい物品・設備」欄にお書きいただければ 運営でその内容を確認後、追って貸出の可否をご連絡いたします。
          li 食品・飲料の配布・販売はご遠慮ください。
          li 本カンファレンスでの発表に関し、展示物の破損や故障など発表者に不利益が生じた場合、 運営は一切責任を負いかねます。
          li ブースでのポスターの掲示は自由ですが、ブース位置の関係で希望する枚数のポスターが貼りづらくなる場合がございます。予めご了承ください。
        p 以上の点をご了承の上、ご応募ください。 運営一同、できる限りご協力いたしますので、不明な点はお気軽にご相談ください。
        p: a.btn.disabled ブース発表への申し込みはこちら
        //- TODO: リンク
        //- p: a.btn.booth(href="http://goo.gl/forms/5wkQucuhHP" target="_blank") ブース発表への申し込みはこちら

        h3 宣伝ポスターについて
        p また、ブース発表会場でのポスターの掲示の依頼も受け付けております。
        p 「ブース発表まではしたくないけど、ポスターだけ掲示して欲しいなあ…」 という方のために、教室後方の掲示板でポスターを掲示できるようにしました！ 企業様の宣伝用ポスターから、イベント告知、絵を描いてみた！まで、 様々なポスターの掲示依頼を募集しています。
        h3 応募確定のプロセス
        ol
          li あなたが、以下のリンクから応募します。
          li 運営から、ご連絡先メールアドレス宛にポスター入稿依頼メールをお送りいたします。
          li あなたが、そのメールにポスターの画像（写真）を添付して返信します。
          li 運営から、確認完了メールをお送りいたします。
        p このタイミングで応募が確定します。

        h3 ポスター掲示を希望される方へ
        ul
          li ポスターは、カンファレンス受付時に受付にお渡しください。
          li 予め入稿されたポスターとお持ちいただいたポスターの意匠が異なっていた場合、掲示をお断りさせていただく場合がございます。
        p: a.btn.disabled ポスター掲示への申し込みはこちら
        //- TODO: リンク
        //- p: a.btn.booth(href="https://docs.google.com/forms/d/1YHtlVZmnemxaV3xUHbDrAcEaCXEzQbL5eZlHRNsoqYc/viewform" target="_blank") ポスター掲示への申し込みはこちら

    include ./_footer
    include ./_scripts
