include ./_head
include ./_global-nav

doctype html
html(lang="ja")
  head
    +head("", "")

  body
    div.wrapper
      section#top
        h1.toplogo
          #lol-circle-blue
          #lol-circle-green
          #lol-circle-yellow
          #lol-circle-orange
          #lol-circle-pink
          img#lol-logo(src="./images/toplogo.png" alt="高専カンファレンスlol ロゴ")
    include ./_scripts
    +scripts("index")

