doctype html
include ./_head
include ./_global-nav
include ./_footer
include ./_scripts

html(lang="ja")
  head
    +head("配信情報", "article", "高専カンファレンスlolでは会場の様子をUstreamで配信しています。こちらからご覧ください。")

  body
    +global-nav()

    div.wrapper
      section.section#broadcast
        h1 BROADCAST

        h2.circle-orange Ustream
        section
          p
            | 高専カンファレンスlolのUstream配信は、4/30（土）13:00からを予定しております。
            br
            | 今しばらくお待ちください。
          iframe.ustream(src="http://www.ustream.tv/embed/716856?html5ui" allowfullscreen webkitallowfullscreen scrolling="no" frameborder="0")

    +footer()
    +scripts(["index", "broadcast"])
