doctype html5
html(lang="ja")
  head
    include ./_head
    title 高専カンファlol

  body
    include ./_global-nav

    div.wrapper
      #top
        h1: img.toplogo(src="./images/toplogo.png" alt="高専カンファlol")
        p.lead
          | Let's share "lol" with everybody!!
          br
          | lol(lots of laugh)をテーマに好奇心をくすぐられる発表・展示を行います！
          br
          | 参加者全員がみんなでlolになれる、
          br
          | 101回目の高専カンファレンス 
          strong "lol" 
          | 始まります

      section.section#about
        h2.circle-pink ABOUT
        h3 「高専カンファレンス」って？
        p
          | プレゼンによる発表形式を主とした勉強会形式のイベントです。
          | 全国の高専生・卒業生が中心となり、お互いに自分の趣味や技術・経験、夢など好きなことを好きなカタチで発表し合います。
        p 発表内容は情報技術に関する知識が中心となっています。他にもデザインや化学、留学、果ては趣味や妄想まで、さまざまな分野の発表があります。
        p
          | 101回目の開催となる本イベントは、
          strong 2016年4月30日（土）明石工業高等専門学校
          | にて開催されます。
        table
          tr
            th 日時
            td 2016年4月30日（土）
          tr
            th 会場
            td
              a(href="http://www.akashi.ac.jp/") 明石工業高等専門学校
              | （兵庫県明石市）
          tr
            th 参加費用
            td
              | 本会：未定
              br
              | 懇親会：未定
          tr
            th 定員
            td 120人

      section.section#faq
        h2.circle-orange FAQ
        h3 Q1. 誰でも参加できるの？
        p
          | 高専カンファレンスlolは、どなたでもご参加いただけます。
          br
          | 高専に関係のあるかた、ないかた、はじめて参加のかたも歓迎しております。

        h3 Q2. 飛び入り参加できる？
        p
          | 飛び入り参加も可能です。
          | ただし、出来る限り前日までに申し込みを済ませたうえでご来場ください。
          br
          a.btn(href="https://kosenconf.doorkeeper.jp/events/37652" target="_blank") 高専カンファレンスlol 参加申し込みはこちら

        h3 Q3. 途中からの参加、途中での退場は可能？
        p 可能です。

        h3 Q4. 発表は必ずしないといけないの？
        p
          | 発表の義務はございません。
          br
          | ぜひ、発表者の好奇心揺すぶられる発表にご期待ください！

        h3 Q5. 参加登録のキャンセルは可能？
        p
          a(href="https://kosenconf.doorkeeper.jp/events/37652" target="_blank") 申し込みページ
          | より可能です。
          br
          | 参加できなくなった場合、前日までにキャンセルをお願いします。

      section.section#contact
        h2.circle-yellow CONTACT
        address
          | 高専カンファレンスlol 代表メールアドレス
          br
          | kosenconf-lol[at]googlegroups.com ([at]を@に変更してください)
    include ./_footer
    include ./_scripts
