include ./_head
include ./_global-nav
include ./_sponsor

doctype html
html(lang="ja")
  head
    +head("", "website")

  body
    +global-nav()

    div.wrapper
      section#top
        h1.toplogo
          #lol-circle-blue
          #lol-circle-green
          #lol-circle-yellow
          #lol-circle-orange
          #lol-circle-pink
          img#lol-logo(src="./images/toplogo.png" alt="高専カンファレンスlol ロゴ")
        p.lead
          | Let's share "lol" with everybody!!
          br
          | lol (lots of laugh) をテーマに好奇心をくすぐられる発表・展示を行います！
          br
          | 参加者全員がみんなでlolになれる、
          br
          | 101回目の高専カンファレンス 
          strong "lol" 
          | 始まります
          br
        p.lead
          a.btn(href="https://kosenconf.doorkeeper.jp/events/37652" target="_blank") 参加登録はこちら
          a.btn.disabled 交通費補助への申し込みはこちら
          a.btn.disabled 一般発表 / LT 登壇希望者
          a.btn.disabled ブース発表希望者
          a.btn.disabled ポスター掲示希望者

      section.section#about
        h2.circle-pink ABOUT
        section
          h3 「高専カンファレンス」って？
          p
            | プレゼンによる発表形式を主とした勉強会形式のイベントです。
            | 全国の高専生・卒業生が中心となり、お互いに自分の趣味や技術・経験、夢など好きなことを好きなカタチで発表し合います。
          p 発表内容は情報技術に関する知識が中心となっています。他にもデザインや化学、留学、果ては趣味や妄想まで、さまざまな分野の発表があります。
          p
            | 101回目の開催となる本イベントは、
            strong 2016年4月30日（土）明石工業高等専門学校
            | にて開催されます。
        section
          table
            tr
              th 日時
              td 2016年4月30日（土）
            tr
              th 会場
              td
                a(href="http://www.akashi.ac.jp/") 明石工業高等専門学校
                | （兵庫県明石市）
            tr#fees
              th 参加費用
              td
                ul
                  li 本会
                    ul
                      li 学生（名刺なし）: 
                        strong 無料
                      li
                        s 学生（名刺あり）: 500円
                      li 社会人（名刺なし）: 
                        strong 500円
                      li
                        s 社会人（名刺あり）: 1000円
                  li 懇親会
                    ul
                      li 一律 
                        strong 無料
                small
                  | すべて会場で受付時にお支払いください。
                  br
                  | 名刺代行プランは4/10（日）をもって終了しました。ありがとうございました。
            tr
              th 定員
              td 120人
        section#past-presentations
          h3 過去の発表例
          ul
            li
              a(href="http://www.slideshare.net/Iruyan_Zak/ss-56393907" target="_blank") 「高専生の標準的なレポートパッド」
            li
              a(href="https://speakerdeck.com/mc475_46/koremadefalsehuo-dong-bao-gao" target="_blank") 「自己紹介」
            li
              a(href="http://www.slideshare.net/denari01/ss-46116053" target="_blank") 「美しいデザインはレイアウトから」
            li
              a(href="http://www.slideshare.net/Raryosu/ss-56309560" target="_blank") 「高専の今」
            li
              a(href="http://www.slideshare.net/Shuft/nodejs-web-56396402" target="_blank") 「Node.js ではじめてみるWeb開発」
            //- li
              //- a(href="https://www.youtube.com/watch?v=EKIVpw7GFKU") 「〇〇と〇〇」
            li
              a(href="https://www.youtube.com/channel/UC6mW_AI4nWiPSvx3t5UD5pQ" target="_blank") 高専カンファレンス100 in 東京 の様子（Youtube）
            li
              a(href="https://www.youtube.com/watch?v=szJrMfStBdU&feature=youtu.be&t=1h38m17s" target="_blank") 高専カンファレンス in 津山2 の様子（Youtube）
          p などなど…

      section.section#sponsor-lists
        h2.circle-green スポンサー一覧
        ul.sponsor-lists
          +sponsor("株式会社chatbox", "chatbox.png", "http://chatbox-inc.com/")
          +sponsor("GitHub", "github.png", "http://github.com/")
          li.sponsor
            .icon
              img(src="./images/sponsors/spicelife.png" alt="spicelife" usemap="#spicelife")
              map(name="spicelife")
                area(shape="rect" coords="0,0,200%,60%" href="http://spicelife.jp/" target="_blank" alt="spice life")
                area(shape="rect" coords="0,60%,200%,80%" href="https://steers.jp/" target="_blank" alt="STEERS")
                area(shape="rect" coords="0,80%,200%,100%" href="https://tmix.jp/" target="_blank" alt="TMIX")
            .name
              a(href="http://spicelife.jp/" target="_blank") spice life さま
        ul.sponsor-lists
          +sponsor("大阪C++読書会", "cpp_osaka.png", "http://cpp-osaka.connpass.com/")
          +sponsor("ACT135", "act135.png", "http://gijutsusha-syuudan.org/")

      section.section#faq
        h2.circle-orange FAQ
        h3 Q1. 誰でも参加できるの？
        p
          | 高専カンファレンスlolは、どなたでもご参加いただけます。
          br
          | 高専に関係のある方、ない方、はじめて参加の方も歓迎しております。

        h3 Q2. 飛び入り参加できる？
        p
          | 飛び入り参加も可能です。
          | ただし、出来る限り前日までに申し込みを済ませたうえでご来場ください。
          br
          a.btn(href="https://kosenconf.doorkeeper.jp/events/37652" target="_blank") 高専カンファレンスlol 参加申し込みはこちら

        h3 Q3. 途中からの参加、途中での退場は可能？
        p 可能です。

        h3 Q4. 発表は必ずしないといけないの？
        p
          | 発表の義務はございません。
          br
          | ぜひ、発表者の好奇心揺すぶられる発表にご期待ください！

        h3 Q5. 参加登録のキャンセルは可能？
        p
          a(href="https://kosenconf.doorkeeper.jp/events/37652" target="_blank") 申し込みページより可能です
          | 。
          br
          | 参加できなくなった場合、前日までにキャンセルをお願いします。

        h3 Q6. 配信はありますか？
        p はい。プレゼン発表・ブース発表についてはUstreamで配信を行う予定です。

      section.section#calling-cards
        h2.circle-yellow 名刺デザイン代行
        section
          p
            strong 名刺デザイン代行プランは4/10（日）をもって終了しました。たくさんの申し込みありがとうございました。
          p
            s 今回の高専カンファレンスlolでは、参加者の方々の名刺を運営側でデザインしてお渡しする
              strong 「名刺デザイン代行」プラン
              | をご用意いたしました。
          p
            s 名刺をお持ちでない方、せっかくなら記念に名刺を作ってみたい方は、ぜひ名刺作成プランをご利用ください！
          p
            small
              | 名刺の発注業者の関係で価格が変動する恐れがあります。予めご了承ください。
              br
              |  名刺デザイン代行プランにお申し込みをされた方へは、後日Doorkeeperに登録されたメールアドレス経由で、以下の「内容」などをお聞きいたします。
        section
          table
            tr
              th 費用
              td
                | 学生 : 500円
                br
                | 社会人 : 1,000円
                br
                small
                  |本会への参加費用込み。
                  a(href="#fees") 「参加費用」を参照
            tr
              th 枚数
              td 100枚
            tr
              th 内容
              td
                ul
                  li: strong 名前（漢字）
                    small ※
                  li: strong 名前（ローマ字）
                    small ※
                  li: strong アイコン
                    small ※
                  li Twitter もしくは Facebook のアカウント名
                  li
                    | 所属・スキルなど
                    small （最大の目安…16文字x2行）
                  li メールアドレス
                  li ご自分のサイトなどのURL
                small ※ は必須項目
            tr
              th 申し込み締め切り
              td
                strong 4/10（日）23:59 まで
                br
                small 締め切り日まではプラン変更が可能です。締め切り以降にキャンセルされた場合は必ず料金をお支払いいただきます。
          h3 名刺見本
          img(src="./images/calling-cards.png" alt="名刺見本")

    include ./_footer
    include ./_scripts
    +scripts("index")
