doctype html5
html(lang="ja")
  head
    include ./_head
    title 高専カンファレンスlol

  body
    include ./_global-nav

    div.wrapper
      #top
        h1: img.toplogo(src="./images/toplogo.png" alt="高専カンファlol")
        p.lead
          | Let's share "lol" with everybody!!
          br
          | lol(lots of laugh)をテーマに好奇心をくすぐられる発表・展示を行います！
          br
          | 参加者全員がみんなでlolになれる、
          br
          | 101回目の高専カンファレンス 
          strong "lol" 
          | 始まります

      section.section#about
        h2.circle-pink ABOUT
        h3 「高専カンファレンス」って？
        p
          | プレゼンによる発表形式を主とした勉強会形式のイベントです。
          | 全国の高専生・卒業生が中心となり、お互いに自分の趣味や技術・経験、夢など好きなことを好きなカタチで発表し合います。
        p 発表内容は情報技術に関する知識が中心となっています。他にもデザインや化学、留学、果ては趣味や妄想まで、さまざまな分野の発表があります。
        p
          | 101回目の開催となる本イベントは、
          strong 2016年4月30日（土）明石工業高等専門学校
          | にて開催されます。
        table
          tr
            th 日時
            td 2016年4月30日（土）
          tr
            th 会場
            td
              a(href="http://www.akashi.ac.jp/") 明石工業高等専門学校
              | （兵庫県明石市）
          tr
            th 参加費用
            td
              ul
                li 本会
                ul
                  li 学生（名刺なし）: 
                    strong 無料
                  li 学生（名刺あり）: 
                    strong 970円
                  li 社会人（名刺なし）: 
                    strong 500円
                  li 社会人（名刺あり）: 
                    strong 1,470円
                li 懇親会
                ul
                  li 一律 
                    strong 300円
              small
                | すべて会場で受付時にお支払いください。
                br
                | 名刺については
                a(href="#calling-cards") 「名刺デザイン代行」をご参照
                | ください。
          tr
            th 定員
            td 120人

      section.section#faq
        h2.circle-orange FAQ
        h3 Q1. 誰でも参加できるの？
        p
          | 高専カンファレンスlolは、どなたでもご参加いただけます。
          br
          | 高専に関係のある方、ない方、はじめて参加の方も歓迎しております。

        h3 Q2. 飛び入り参加できる？
        p
          | 飛び入り参加も可能です。
          | ただし、出来る限り前日までに申し込みを済ませたうえでご来場ください。
          br
          a.btn(href="https://kosenconf.doorkeeper.jp/events/37652" target="_blank") 高専カンファレンスlol 参加申し込みはこちら

        h3 Q3. 途中からの参加、途中での退場は可能？
        p 可能です。

        h3 Q4. 発表は必ずしないといけないの？
        p
          | 発表の義務はございません。
          br
          | ぜひ、発表者の好奇心揺すぶられる発表にご期待ください！

        h3 Q5. 参加登録のキャンセルは可能？
        p
          a(href="https://kosenconf.doorkeeper.jp/events/37652" target="_blank") 申し込みページより可能です
          | 。
          br
          | 参加できなくなった場合、前日までにキャンセルをお願いします。

      section.section#calling-cards
        h2.circle-yellow CALLING CARDS
        p
          | 今回の高専カンファレンスlolでは、参加者の方々の名刺を運営側でデザインしてお渡しする
          strong 「名刺デザイン代行」プラン
          | をご用意いたしました。
        p
          | 名刺をお持ちでない方、せっかくなら記念に名刺を作ってみたい方は、ぜひ名刺作成プランをご利用ください！
        p
          small
            | 名刺の発注業者の関係で価格が変動する恐れがあります。予めご了承ください。
            br
            |  名刺デザイン代行プランにお申し込みをされた方へは、後日Doorkeeperに登録されたメールアドレス経由で、以下の「内容」などをお聞きいたします。
        table
          tr
            th 費用
            td
              | 学生 : 970円
              br
              | 社会人 : 1,470円
              br
              small
                |本会への参加費用込み。
                a(href="#about") 「参加費用」を参照
          tr
            th 枚数
            td 100枚
          tr
            th 内容
            td 
              ul
                li: strong 名前（漢字）
                  small ※
                li: strong 名前（ローマ字）
                  small ※
                li: strong アイコン
                  small ※
                li Twitter もしくは Facebook のアカウント名
                li
                  | 所属・スキルなど
                  small （最大の目安…16文字x2行）
                li メールアドレス
                li ご自分のサイトなどのURL
              small ※ は必須項目
        h3 名刺見本
        img(src="./images/calling-cards.png" alt="名刺見本")

    include ./_footer
    include ./_scripts
