doctype html5
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")

    //- TODO: descriptionとかkeywordsはあとで考える
    meta(name="description" content="")
    meta(name="keywords" content="")

    // TODO: ogpとかもあとで考える
    meta(property="og:type" content="website")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    meta(property="og:url" content="")
    meta(property="og:site_name" content="")
    meta(property="og:locale" content="")
    meta(property="fb:admins" content="")
    meta(property="fb:app_id" content="")
    meta(content="summary" name="")
    meta(content="" name="")

    link(rel="stylesheet" href="./styles/style.css")
    title 高専カンファlol

  body
    nav.global-nav
      div.menu-btn: div MENU
      ul.menu
        li.nav-item: a.hover-circle-all(href="./index.html"): img.top-img(src="./images/simplelogo-lol.png" alt="高専カンファlol公式ロゴ")
        li.nav-item: a.hover-circle-pink(href="#about") ABOUT
        li.nav-item: a.hover-circle-orange(href="#date") DATE
        li.nav-item: a.hover-circle-yellow(href="#timetable") TIMETABLE
        li.nav-item: a.hover-circle-green(href="#access") ACCESS
        li.nav-item: a.hover-circle-blue(href="#contact") CONTACT

    div.wrapper
      #top
        h1: img.toplogo(src="./images/toplogo.png" alt="高専カンファlol")
        p.lead
          | 高専カンファレンスlolは
          strong lol(lots of laugh)
          | をテーマに、
          br
          | 好奇心をくすぐられるような面白い発表・展示を行います。

      section#about
        h2.circle-pink ABOUT
        h3 「高専カンファレンス」って？
        p
          | 全国の高専生・卒業生が中心となり、お互いに自分の趣味や技術・経験、夢など好きなことを好きなカタチで発表しあう場所です。
        p
          | 101回目の開催となる本イベントは、
          strong 2016年4月30日（土）明石工業高等専門学校
          | にて開催されます。

      section#date
        h2.circle-orange DATE
        table
          tr
            th 日時
            td 2016年4月30日（土）
          tr
            th 会場
            td
              a(href="http://www.akashi.ac.jp/") 明石工業高等専門学校
              | （兵庫県明石市）
          tr
            th 参加費用
            td
              | 本会：未定
              br
              | 懇親会：未定
          tr
            th 定員
            td 120人

      section#timetable
        h2.circle-yellow TIMETABLE
        p Comming soon!

      section#access
        h2.circle-green ACCESS
        h3 鉄道をご利用の場合
        p
          strong JR神戸（こうべ）線
          | をご利用ください。路線記号
          strong [A]
          | が目印です。最寄り駅は
          strong JR魚住（うおずみ）駅
          | です。
        ul
          li 日中時間帯、魚住駅には快速列車(西明石駅以西は普通列車となる)が停車します。
          li 京阪神間の移動には新快速列車が便利です。新快速列車をご利用の場合、
          ul
            li
              | 東からお越しの方は、
              strong 西明石(にしあかし)駅
              | で新快速から普通列車にお乗り換えください。
            li
              | 西からお越しの方は、
              strong 加古川(かこがわ)駅
              | で新快速から普通列車にお乗り換えください。
          li
            | 西明石でのお乗り換えの際、以下のことに
            strong 十分にご注意ください
          ul
            li 以下のような座席配置の普通列車は
              strong 西明石で折り返してしまいます
              | 。
              img(src="./images/access_t_local.jpg" alt="西明石以西に行かない普通列車")
            li 以下のような座席配置の普通列車にお乗り換えいただくと、
              strong 西明石より西に進むことができます
              | 。
              img(src="./images/access_t_rapid.jpg" alt="西明石以西に行く普通列車")
        h3 飛行機をご利用の場合
        ul
          li
            strong 関西国際空港から
            | …JR関西空港駅から関空快速で
            strong 大阪駅
            | までお越しいただくと、JR神戸線にお乗り換えができます。
          li
            strong 神戸空港から
            | …
            strong ポートライナー
            | で
            strong 三宮（さんのみや）駅
            | までお越しいただき、
            strong JR三ノ宮（さんのみや）駅
            | まで徒歩で移動していただくとJR神戸線にお乗り換えができます。
        h3 最寄り駅からのアクセス
        address
          a(href="http://www.akashi.ac.jp/") 明石工業高等専門学校
          br
          | 〒674-0084 兵庫県明石市魚住町西岡679-3
        ul
          li JR魚住駅から5分
          li 改札口を出て右に曲がり、階段を降りて前に伸びる道を直進
          li 右手にコンクリート造の大きな門と校舎のような建物が見えたらその門をくぐってください
        a.googlemap(href="http://maps.apple.com/?q=%E6%98%8E%E7%9F%B3%E5%B7%A5%E6%A5%AD%E9%AB%98%E7%AD%89%E5%B0%82%E9%96%80%E5%AD%A6%E6%A0%A1")
          iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13121.508307314607!2d134.902351!3d34.695668!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xc0e27a7b363c111d!2z5Zu956uL5piO55-z5bel5qWt6auY562J5bCC6ZaA5a2m5qCh!5e0!3m2!1sja!2sjp!4v1453799312018")
      section#contact
        h2.circle-blue CONTACT
        address
          | 高専カンファレンスlol 代表メールアドレス
          br
          | kosenconf-lol[at]googlegroups.com ([at]を@に変更してください)

    footer.global-footer
      small 2016 高専カンファレンスlol 実行委員会

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="./scripts/all.js")
