doctype html5
html(lang="ja")
  head
    include ./_head
    title 高専カンファlol

  body
    include ./_global-nav

    div.wrapper
      #top
        h1: img.toplogo(src="./images/toplogo.png" alt="高専カンファlol")
        p.lead
          | 高専カンファレンスlolは
          strong lol(lots of laugh)
          | をテーマに、
          br
          | 好奇心をくすぐられるような面白い発表・展示を行います。

      section.section#about
        h2.circle-pink ABOUT
        h3 「高専カンファレンス」って？
        p
          | 全国の高専生・卒業生が中心となり、お互いに自分の趣味や技術・経験、夢など好きなことを好きなカタチで発表しあう場所です。
        p
          | 101回目の開催となる本イベントは、
          strong 2016年4月30日（土）明石工業高等専門学校
          | にて開催されます。
        table
          tr
            th 日時
            td 2016年4月30日（土）
          tr
            th 会場
            td
              a(href="http://www.akashi.ac.jp/") 明石工業高等専門学校
              | （兵庫県明石市）
          tr
            th 参加費用
            td
              | 本会：未定
              br
              | 懇親会：未定
          tr
            th 定員
            td 120人

      section.section#timetable
        h2.circle-orange TIMETABLE
        p Comming soon!
      section.section#contact
        h2.circle-yellow CONTACT
        address
          | 高専カンファレンスlol 代表メールアドレス
          br
          | kosenconf-lol[at]googlegroups.com ([at]を@に変更してください)
    include ./_footer
    include ./_scripts
