doctype html5
html(lang="ja")
  head
    include ./_head
    title 高専カンファレンスlol | 企画

  body
    include ./_global-nav

    div.wrapper
      section.section#programs
        h1 PROGRAMS

        h2.circle-yellow プレゼン発表
        p 今回の高専カンファレンスでは、一般発表とLightning Talkの2種類の発表形式で募集を行います。
        p
          strong 発表者募集締め切りは 4/2（土）23:59 です。
          br
          a.btn.presentation(href="" target="_blank") 一般発表 / Lightning Talk への申し込みはこちら

        p
          | 応募フォームは送信後、編集用リンクが表示されます。
          br
          | 応募後に内容を再編集していただくことが可能ですので、「発表したいけど内容がまだ…」という方も、まずはお気軽にご応募ください！

        h3 一般発表
        p
          | 一般発表の発表時間は
          strong 10分
          | です。
        p 例えば、
        ul
          li 私、最近こんなもの作りました！
          li 〇〇のすゝめ
        p
          | などなど。
          br
          | 10分というちょっと長い発表時間をフルに活かした、ちょっとディープな発表、してみませんか？
          br
          | たくさんのご応募をお待ちしています。

        table
          tr
            th 発表時間
            td: strong 10分
          tr
            th 発表形式
            td
              ul
                li 普通の / 普通じゃないスライド発表
                li ライブコーディング
                li 授業
                li 演説
                li 説教(ただし、lolなものに限る)
              | などなど公的良俗に反しなければ、なんでもOKです。
          tr
            th 申し込み締め切り
            td: strong 4/2（土）23:59 まで

        p: a.btn.presentation(href="" target="_blank") 一般発表 / Lightning Talk への申し込みはこちら

        h3 Lightning Talk
        p
          | Lightning Talk の発表時間は
          strong 5分
          | です。
        p たった5分なので、気軽に発表をしてもらえるといいなあ、と思います。
        ul
          li 最近興味があって調べたこと
          li 実は私、こんな趣味があって…
          li 皆さんに知ってほしいことがあるんです！ etc…
        p
          | 布教やステマなどなんでもOKです！
          br
          | 発表経験がない現役生の方も、ぜひこの機会に発表してみませんか？
        p たくさんのご応募、たくさんのlolな発表をお待ちしています。

        table
          tr
            th 発表時間
            td: strong 5分
          tr
            th 発表形式
            td 一般発表と同じ
          tr
            th 締め切り
            td: strong 4/2（土）23:59まで

        p: a.btn.presentation(href="" target="_blank") 一般発表 / Lightning Talk への申し込みはこちら
        small ※お送りいただいた概要によっては、発表をご遠慮いただく場合がございます。

        h2.circle-yellow ブース発表
        p
          | 高専カンファレンスlolでは「ブース発表」を企画しています。
          br
          | ブース発表では発表者の皆様にブース（机）をご用意します。ブース発表では基本的にどのようなことをしていただくのも自由です。
          br
          | 例えばこんな発表はいかがでしょうか？
        ul
          li 俺が作った工作物を見てくれ！
          li 今こういうことで悩んでいるんだ、助けてくれ！
          li うちの会社・俺はこんなことやってるんですよ〜
          li こんな研究してみたよ！どう？
          li 俺流高専カンファレンスlol限定グッズを売りたい・配りたい！
          li 私と握手しませんか？
          li 私（たち）と一緒にこんなことやってみませんか？
        p
          | また、ブース発表会場での宣伝ポスターの掲示の依頼も受け付けております。
          br
          | その他、やってみたいことがあれば、お気軽に運営にお問い合わせください！
        table
          tr
            th 発表時間
            td: strong 30分
          tr
            th ブースのサイズ
            //- td 幅$width x 奥行き$depth
          tr
            th 机のサイズ
            //- td 幅$desk_width x 奥行き$desk_depth (高さ$desk_height)
        //- 後日測ってから
        h3 発表される方へ
        ul
          li できる限り多くの方に自由に発表していただきたいと考えておりますが、 会場の制約等のためにご希望に添えない場合があります。予めご了承ください。
          li 音を出す・強い光を出すなど、他の発表者様の迷惑になる可能性のある展示の場合は 必ずその旨を備考欄にお書きください。
          li 電源、その他設備を貸し出すことができます。 希望する物品・設備を、申し込みフォームの「借りたい物品・設備」欄にお書きいただければ 運営でその内容を確認後、追って貸出の可否をご連絡いたします。
          li 食品・飲料の配布・販売はご遠慮ください。
          li 本カンファレンスでの発表に関し、展示物の破損や故障など発表者に不利益が生じた場合、 運営は一切責任を負いかねます。
        p 以上の点をご了承の上、ご応募ください。 運営一同、できる限りご協力いたしますので、不明な点はお気軽にご相談ください。

        p: a.btn.booth(href="http://goo.gl/forms/5wkQucuhHP" target="_blank") ブース発表への申し込みはこちら

        h2.circle-yellow 懇親会
        p
          | 本会の後には懇親会があります。
          br
          | lolな発表をしていた人、Twitterでは見たことあるけどまだ喋ったことがないあの人など、これをきっかけに新しいつながりを作ってみませんか？

    include ./_footer
    include ./_scripts
