doctype html5
html(lang="ja")
  head
    include ./_head
    title 高専カンファlol

  body
    include ./_global-nav

    div.wrapper
      section#sponsors
        h1 SPONSORS
        p
          | 高専カンファレンスlol 実行委員会は、開催を予定しているイベント「
          strong 高専カンファレンスlol
          | （イベント詳細は下部
          a(href="#whatslol") 「高専カンファレンスlolとは」を参照
          | ）」をより良いものにするために、スポンサーを募集いたします。
          br
          a.btn(href="https://docs.google.com/forms/d/11jVTHugK17i0Um0nzhHlA6qZIn3l6jxSS7DitOGfmnk/viewform" target="_blank") 応募フォームはこちら
        h2.circle-blue スポンサーを募集する理由
        p
          | 現役高専生の参加を支援したいからです。
          br
          | これまで100回近く開催されてきた高専カンファレンス。情報技術関連の知識や高専関係者のキャリアなどが聞ける機会であり、参加した高専生にとって、高専カンファレンスは有益な体験となります。
          br
          | しかし、会場への交通費・宿泊費・参加費などの金銭的問題によって、高専生がその貴重な機会を得られないことが多々あります。
          br
          | そのため、高専カンファレンスlolでは皆様にご協賛頂く形で、それらの金銭的問題を解決し、現役高専生の参加を支援したいと考えています。
        h2.circle-blue 募集要項
        p 基本的にはご支援いただく金額を踏まえてご対応します。
        h3 プラン例①：協賛金額 7万円
        ul
          li 受付時のアメニティグッズ配布
          li 企業向けブース※のご用意 or プレゼンスポンサー枠の提供
          li 高専カンファレンス公式wikiへの企業ロゴなど掲載
          li 高専カンファレンス公式サイトへの企業ロゴなど掲載
          li 当日配布物へのロゴなど掲載
        h3 プラン例②：協賛金額 7万円
        ul
          li lolカンファデザイナーによる貴社広告用チラシのデザイン作成
          li 受付時のアメニティグッズ配布
          li 高専カンファレンス公式wikiへの企業ロゴなど掲載
          li 高専カンファレンス公式サイトへの企業ロゴなど掲載
          li 当日配布物へのロゴなど掲載
        h3 プラン例③：協賛金額 2万円
        ul
          li 高専カンファレンス公式wikiへの企業ロゴなど掲載
          li 高専カンファレンス公式サイトへの企業ロゴなど掲載
          li 当日配布物へのロゴなど掲載
        h3 プラン例④：協賛金額 5千円
        ul
          li 高専カンファレンス公式サイトへの企業ロゴなど掲載
        br
        p
          | ※高専カンファレンスlolでは、参加者が自分の作品を見せたりするブース形式でのイベントを行う予定です。
          br
          | 企業向けブースでは、参加者のブースにまじって、企業様にもブースにて展示を行っていただけます。
        h3 ご支援頂いたお金の主な用途
        p
          | 学生参加者に対する交通費補助
          br
          a.btn(href="https://docs.google.com/forms/d/11jVTHugK17i0Um0nzhHlA6qZIn3l6jxSS7DitOGfmnk/viewform" target="_blank") 応募フォームはこちら
        h2.circle-blue#whatslol 高専カンファレンスlol とは
        h3 そもそも高専カンファレンスとは
        p
          | プレゼンによる発表形式を主とした勉強会形式のイベントです。
          br
          | 発表内容は情報技術に関する知識が中心となっています。他にも過去には、デザインや化学、留学、果ては趣味や妄想まで、さまざまな分野の発表がありました。
        p
          | 最近の開催例、「高専カンファレンス100 in 東京」では、北海道から沖縄まで200人の参加登録があり、うち学生が90人程度となっておりました。参加者が高専出身者・高専生が中心ですが、技術に興味・関心のある高校生・大学生・高専出身でない社会人の参加者、企業の人事担当者の方も何名かお見かけしました。
        h3 高専カンファレンスlol
        p
          | 高専カンファレンスはそれぞれの開催でIDとなる通し番号が振られています。今回の高専カンファレンスlolは101番目、
          strong "lots of laugh"
          | をテーマに、参加者それぞれの好奇心をくすぐるような会を目指し、現在企画を進めています。
        h4 開催概要
        table
          tr
            th 開催場所
            td 明石高専
          tr
            th 参加人数（目標値）
            td 100人
          tr
            th webサイト
            td: a(href="http://kosenconf.jp/?101lol" target="_blank") http://kosenconf.jp/?101lol

    include ./_footer
    include ./_scripts
