doctype html5
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")

    link(rel="stylesheet" href="./styles/style.css")
    title Styleguides | 高専カンファlol

  body
    div.wrapper
      h1 Styleguides

      section
        h2 Headers
        h3.subheading Headings
        h1 Level1 heading
        h2 Level2 heading
        h3 Level3 heading
        h4 Level4 heading
        h5 Level5 heading
        h6 Level6 heading

        h3.subheading Paragraph
        p こころぴょんぴょん待ち？✧ヾ(❀╹◡╹)ﾉﾞ考えるふりして(*≧o≦)b❤もうちょっと♡近づいちゃえ！☆♡ヾ(*'∀`*)ﾉ♡簡単には教えない(／≧∇)／＼(∇≦＼)／♪♡こんなに好きなことは✧:.ﾟ٩(๑>◡<๑)۶:.｡♡内緒なの～！((ヾ(๑ゝω･)

        h3.subheading Blockquote
        blockquote こころぴょんぴょん待ち？✧ヾ(❀╹◡╹)ﾉﾞ考えるふりして(*≧o≦)b❤もうちょっと♡近づいちゃえ！☆♡ヾ(*'∀`*)ﾉ♡簡単には教えない(／≧∇)／＼(∇≦＼)／♪♡こんなに好きなことは✧:.ﾟ٩(๑>◡<๑)۶:.｡♡内緒なの～！((ヾ(๑ゝω･)

        h3.subheading Text link
        a(href="http://kosenconf.jp/?101lol") 高専カンファレンスのWiki

        h3.subheading Strong
        strong 開催場所は明石高専です

        h3.subheading keyboard
        kbd Cmd

        h3.subheading Hr
        hr

        h3.subheading Small
        small 注釈：「高専カンファ」は「高専カンファレンス」の略

        h3.subheading Address
        address 明石工業高等専門学校 〒674-0084 兵庫県明石市魚住町西岡679-3

        h3.subheading List
        ul
          li くだもの
            ul
              li みかん
              li りんご
          li やさい
            ul
              li きゅうり
              li なすび

        h3.subheading Img
        img(src="./images/access_t_local.jpg")

        h3.subheading Label
        label(for="testinput") name:

        h3.subheading Input
        input#testinput(placeholder="Your name")

        h3.subheading Buttons
        a.btn(href="http://kosenconf.jp/?101lol") Wikiへ
        a.btn.disabled(href="http://kosenconf.jp/?101lol") disabled

        h3.subheading Table
        table
          thead
            tr
              th Table Heading 1
              th Table Heading 2
              th Table Heading 3
              th Table Heading 4
              th Table Heading 5
          tfoot
            tr
              th Table Footer 1
              th Table Footer 2
              th Table Footer 3
              th Table Footer 4
              th Table Footer 5
          tbody
            tr
              td Table Cell 1
              td Table Cell 2
              td Table Cell 3
              td Table Cell 4
              td Table Cell 5
            tr
              td Table Cell 1
              td Table Cell 2
              td Table Cell 3
              td Table Cell 4
              td Table Cell 5
            tr
              td Table Cell 1
              td Table Cell 2
              td Table Cell 3
              td Table Cell 4
              td Table Cell 5
            tr
              td Table Cell 1
              td Table Cell 2
              td Table Cell 3
              td Table Cell 4
              td Table Cell 5

      section
        h2 Components
        h3.subheading Nav
        nav.global-nav
          ul
            li.nav-item: a.hover-circle-all(href=""): img.top-img(src="./images/simplelogo-lol.png" alt="高専カンファlol公式ロゴ")
            li.nav-item: a.hover-circle-pink(href="") HOGE
            li.nav-item: a.hover-circle-orange(href="") HOGE
            li.nav-item: a.hover-circle-yellow(href="") HOGE
            li.nav-item: a.hover-circle-green(href="") HOGE
            li.nav-item: a.hover-circle-blue(href="") HOGE
