include ./_head
include ./_global-nav
include ./_timetable

doctype html
html(lang="ja")
  head
    +head("タイムテーブル", "article")

  body
    +global-nav()

    div.wrapper
      section.section#timetable
        h1 TIMETABLE

        h2.circle-pink 全体の流れ
        section
          table
            tr
              th 12:00〜13:00
              td
                | 受付
                small  [階段教室]
            tr
              th 13:00〜13:05
              td
                | オープニング
                small  [階段教室]
            tr
              th 13:05〜15:55
              td
                a(href="#presentation") プレゼン発表（一般・LT）
                small  [階段教室]
            tr
              th 15:55〜16:00
              td
                | ブース発表の諸注意
                small  [階段教室]
            tr
              th 16:00〜16:15
              td 移動・休憩
            tr
              th 16:15〜16:45
              td
                a(href="#booth") ブース発表
                small  [合併教室]
            tr
              th 16:45〜16:55
              td 移動・休憩
            tr
              th 16:55〜17:05
              td
                | 宣伝・告知
                small  [階段教室]
            tr
              th 17:05〜17:20
              td
                | クロージング・写真撮影
                small  [階段教室]
            tr
              th 17:20〜17:30
              td 移動
            tr
              th 17:30〜19:00
              td
                a(href="#party") 懇親会
                small  [食堂]

        h2.circle-pink#presentation プレゼン発表
        section
          p
            | プレゼン発表の一覧は以下の通りです。
            br
            small ※ 4月9日（土）0:00現在
            br
            small 発表タイトル・発表者名・発表者情報（名前・リンク）の変更は kosenconf-lol[at]googlegroups.com ([at]を@に変更してください) から承っております。
          h3 一般発表
          table.presentation-timetable
            tr
              th 発表順
              th タイトル
              th 発表者
            +timetable("p", "1", "けんきゅうはいいぞ", "izumin5210", { twitter: "https://twitter.com/izumin5210", web: "http://izumin.info" })
              | みなさんは「いま自分が勉強している分野」について，どんな仕事を思い浮かべますか？ 例えば情報系であれば「Webサービス作る」「スマートフォンアプリ作る」「ゲーム作る」みたいなのがわかりやすいですね． 一方で「研究」についてはどんなことを思い浮かべますか？ おそらく「よくわからない」「とりあえず先輩たちが卒論で死にそうになってるのは知ってる」ぐらいの認識の人も多いのではないでしょうか．
              br
              | そんな「研究」について，主に情報系分野の話が中心にはなりますが，どんなことをやるのか等を簡単にお話したいと思います．また，自分自身が「研究をしたい」がために専攻科→大学院という道を選びましたが，そんな進路の選択肢についても紹介できればと考えています．
              br
              h4 話さないこと
              ul
                li 情報系から大きく外れる分野の話
                li 細かい技術的な話
              h4 対象
              ul
                li 「けんきゅうってなにするん？」みたいな高専1〜4年生
                li 将来に悩む現役高専生 〜 高専卒業生
                li とりあえず「進学したいな〜」とだけ，ぼんやり考えている高専生
                li とりあえず進学してしまった高専卒業生（現役大学生）
                li いまのところなんも考えてない，働きたくない頭カラッポ高専生
            +timetable("p", "2", "組織のトップの良い選び方、そして無能をトップにすることによるその効果。", "ノアン")
              | どの組織においてもその頂点に立つ人間とは非常に重大な責務を持つ．ここに組織とは例えば，大学や部活動，市など色々であり，それに対応する頂点に立つ人間（以下トップ）は学長，部長，市長である．また会社のトップは社長であるが，その会社のある部署のトップは（例えば）部長などと見る範囲によってトップに当たる人間は異なる（今は職責上のトップを考えている）．
              br
              | 本講演ではそのトップをどのように選ぶか，そして選んだ結果引き起こされ得る事態などを実例を交えながら紹介したいと思う．但し当然ながら人を役職に付ける時，選ぶ基準と言うのは無数にあるため，今回発表する選び方は飽くまでも一例に過ぎないということを留意してもらいたい次第である．
            +timetable("p", "3", "僕たちはなぜ「学ぶ」のだろうか？~高専出身教職勢による教育学入門~", "satuma", { twitter: "https://twitter.com/ARGV_sat777" })
              | 「人間は教育によってのみ、人間となる」「人間は教育されなければならない唯一の被造物である」－どちらも哲学者として名を馳せたイマヌエル・カント(Immanuel Kant,1724-1804)が教育学の講義にて発した言葉です。
              br
              | 今回の高専カンファレンスlolでは、大学編入後に教員免許取得を目指す私satumaが、これまでに得た「教育学」に関する知見をご紹介します。
              br
              | 教育学は、社会学・心理学・法学・哲学、さらには工学など非常に多くの分野に横断した学問、おおざっぱに言えば雑学です。ゆえに、様々な分野から教育を紹介することができますが、その中から「哲学(教育哲学)と教育方法の歴史」に焦点を合わせてお話しさせていただきます。
              br
              | 30~40人程度の生徒の前に、1人の教師が教壇に立つ。そして、教師は教科書を開くように生徒に指示し、生徒もそれに従い教科書を開く。そのあと教師は教科書の内容に沿った説明をし、黒板に図や文字を書き、生徒はそれをノートに写し取る。－小学生から高専生、大学生まで幾度となく受けた“普通”の授業風景です。その“普通”に疑問を持ったことはありませんか？その“普通”がなぜ生まれたのか興味はありませんか？
              br
              | 教育に関連する職業に興味がある人、教育に疑問を持っている人、なぜ学ばなければならないのか迷いを持っている人、そのような人たちが教育について考えるための一つのきっかけを提供したいと思っています。未来の子供たちをlolで満たすための第一歩を踏み出してみませんか？
            +timetable("p", "4", "2017年最新版！大学生の就活", "なっちゃん", { twitter: "https://twitter.com/marin72_com" })
              | 沖縄高専から電気通信大学に編入し1年が経ち、大学卒業後の進路を考える時期になりました。
              br
              | 編入生の9割は大学院進学をする中、私は卒業後すぐに就職したいと考え、就活を行いました。
              br
              | 沖縄高専を始め、高専の就活は、推薦をもらって1,2社ぐらいしか受けないという学生が多いと思います。
              br
              | もちろん大学にも推薦枠はあるのですが、私が受けた会社はいわゆるWebベンチャーと呼ばれるタイプの会社なので、
              br
              | 推薦枠もなく、また一般的な就活と比べて時期も早いです。大学生（NOT大学院生）の就活ってどんな感じなのか、
              br
              | Webベンチャーの就活ってどんな対策が必要なのか、東京で就活をすることのメリットなどをほぼ実体験を元に話したいと思います。
              br
              | ※発表では、企業名は出さずにA社、B社という形で話します。また、過度なネガキャンは行わない程度に、できるだけ実態を話すように努めます。
            +timetable("p", "5", "どっちつかずの中途半端が考える課外活動と本業の両立について", "どくぴー", { twitter: "https://twitter.com/e10dokup" })
              | 高専生活，長い5年間の間でいろんなことを経験すると思います．勉強だけではなく，研究，部活動，更にはプロコン・ロボコンをはじめとする大会， 果てはインターンシップや一般のコンテストに出るといった課外活動も経験することでしょう．そんな中で，学生の本分たる「勉強」は高専生活の中だるみや，課外活動の忙しさでどんどんおざなりになっていきます．しかし，勉強一辺倒となってしまい，課外活動にはほぼ触れていない…，という日常 も，高専での勉強が活かされる，応用される場を知ることが出来ないという意味では考えものです．本分である勉強と課外活動のいいバランスでの両立 というのが，高専生活を一番充実したものにする重要な要素の1つなのではないでしょうか．
              br
              | この発表では，私の勉強，課外活動を5年間バランスの悪い高専生活を送った経験と編入学試験の大失敗と編入後を踏まえ，現役高専生が高専生活を充実させるための一助となるようなお話をしたいと思います．

          h3 Lightning Talk
          table.presentation-timetable
            tr
              th 発表順
              th タイトル
              th 発表者
            tr
              +timetable("l", "1", "地名のおはなし", "うに", { twitter: "https://twitter.com/64G806" })
                | 地名(placename)：一般的に、特定の地点や区域に対して付けられる固有の名称(Wikipediaより)
                br
                | 自分自身もそこまで地名に関して詳しく知っているわけではありませんが、遠くへ出かけると不思議な地名を結構目にすることがあります。
                br
                | 地名には読みにくいものもありますし、単純なものもあります。ですが、地名にはいろんな意味が込められています。以前はこのようなことが行われていたという意味もあれば、このような人物がいたという意味も持っています。地名は、その地の歴史を表しているとも言えるかもしれません。
                br
                | そこで今回のLT発表では、知っている地名から知らない地名まで短時間ではありますが、知ってもらうことで少しでも地名に関する理解を深めていければと思っています。
              +timetable("l", "2", "知られざるロボコン交流会", "てんちょ")
                | 毎年のように開催されるロボコン交流会、高専ロボコンに参加していないと参加することが難しいイベントです。
                br
                | 本発表では、ロボコン交流会ではどういうことをしているのか、また、どんなところで開催しているのかなど、
                br
                | みなさんがそうそう知ることのないロボコン交流会についてを5分間という短い時間ですが、発表者が実際に参加して感じたところなどを交えて発表します。
              +timetable("l", "3", "RPiオーディオシステムの自作", "もは")
              +timetable("l", "4", "マルウェア解析してみた", "しょぼん", { twitter: "https://syobon.jp" })
                | ここ最近、日本国内でも被害が続々と報告されている、ランサムウェア。
                br
                | 感染すると、PC内のデータが暗号化され、復号するには一定の料金（身代金）を支払わなければいけないという、新しいウイルスです。
                br
                | 以前までは、ファイルだけを暗号化するランサムウェアしかありませんでしたが、ついにディスクを丸ごと暗号化するランサムウェア、Petyaが出現しました。
                br
                | ディスクを丸ごと暗号化するので、Windowsすら起動できなくなるのですが、他のランサムウェアと違い、暗号化ロジックが脆弱だったため、お金を払わなくてもファイルを復号化できます。
                br
                | 本LTでは、そのPetyaの暗号化、復号化ロジックの説明と、感染から復号までの流れをスクリーンショットを交えて紹介します。
              +timetable("l", "5", "すぐにできるアプリ開発", "★RT☆", { twitter: "https://twitter.com/nuratokura" })
                | 授業以外でプログラミングをほとんどしない僕が、アプリを作った話をします。
                br
                | アプリをPlay storeに公開するまでに3日間。実際に作るのにかかった時間は15時間。
                br
                | プログラミングがあまりできない人でも、簡単にアプリが作れるクラウドサービス「monaca」というサービスを使って作りました。
                br
                | monacaで使う言語はHTML/CSS/JavaScript。でもこのアプリを作り始めるまで、ぜんぜんHTMLもCSSもJavaScriptも触ったことがありませんでした。そんな僕でも3日間で作れました。GWに何もすることがない人、アプリを作ってみませんか？
                br
                h4 発表者情報
                | 明石高専4年/情報コース/AP取得済/Web系学びたい
              +timetable("l", "6", "都市科高専生がコンクリートについて語る", "zakuro", { twitter: "https://twitter.com/zakuro9715" })
                | コンクリートは建設材料の代表格ともいえるほど有名な材料であり、身の回りの様々な建物にコンクリートが使用されています。
                br
                | そんな身近な素材であるコンクリートですが、コンクリートのことをあまり知らない、という方も多いのではないでしょうか。
                br
                | 例えば、コンクリートといえば近代的な材料のように思えるかもしれませんが、その起源は古代ローマにまで遡ることができるのです。
                br
                | 他にも、セメント・モルタル・コンクリートの違いやコンクリートの製造方法、コンクリートの弱点などのコンクリートに関する様々な知識を、明石高専都市システム工学科所属、そしてインフラエンジニアでもある私 zakuro がお伝えします。
              +timetable("l", "7", "世界は繋がっている", "いるやん", { twitter: "https://twitter.com/Iruyan_Zak" })
                | この発表は2部構成です。スライドはTeXで記述します。
                br
                | 1部ではPython・Ruby・C言語などの言語で"Hello world"を出力するプログラムをお見せします。
                br
                | また、各言語の特徴を少しだけ紹介して、可能ならば特徴的なプログラムを、難しくならない範囲で紹介したいと考えています。
                br
                | 2部ではスライドを記述しているTeX言語についての紹介をします。
                br
                | 発表タイトル『世界は繋がっている』とは、1部で訪問した(=Hello world)世界に関することなのですが、スライドに意味を持たせるためにスライドの見えないところに工夫をしています。
                br
                | 5分間を2部に分割するので早口でも間に合うかはわかりませんが、発表タイトルを回収するところまではやりたいと思っています。
              +timetable("l", "8", "ラブライブ！で学ぶドメイン駆動設計入門", "じゅりあん", { twitter: ["https://twitter.com/MITLicense", "https://twitter.com/GNUGPLv3"] })
                | みなさんラブライブ！は好きですか？好きですよね？私は基本的に箱推しなんですが、誰か一人を選べと言われたら、かしこいくてかわいい絢瀬絵里さんを選びます。
                br
                | 一部ではポンコツだとかPKE（ポンコツ・かわいい・エリーチカ）とか呼ばれていますが、ポンコツではないと思います。
                br
                | 私がTVアニメ版で一番好きな話は2期の第9話です。最終予選会場にギリギリ間に合った高坂穂乃果さんを両手を広げて受け止める絢瀬絵里さんのシーンは一番感動しますし、その後にある高坂穂乃果さんのセリフで感極まって見る度に涙が止まらなくなります。
                br
                | そういえばこの発表でドメイン駆動開発の話は一切しません。その代わりにgTLD/ccTLDのほうのドメインの話をします。This is タイトル詐欺 ;)
              +timetable("l", "9", "lolカンファを支える技術", "やましー", { twitter: "https://twitter.com/yamasy1549", web: "http://yamasy.info" })
                | lolカンファの見習いデザイナーとしてアサインされたのが今年の1月、そこから約4ヶ月間デザイン業をしてちょっとだけわかるようになってきたデザインについてのあれこれを雑多にまとめて紹介します。
                br
                | 前半は、lolカンファ見習いデザイナーの責任範囲、それからデザインしながら考えたことについて…デザイナー寄りの視点でお話します。
                br
                | 後半は、主に公式webサイト（
                a(href="http://kosenconf.me") http://kosenconf.me
                | ）のフロントエンドに関する技術的なことについて…エンジニア寄りの視点でお話します。
                br
                | 私自身デザイナーとエンジニアの中間にいるような存在なので、そんな中途半端で特異な場所から見て気づいたこと、例えば「エンジニアさんがデザイナーさんに近づくにはどうしたらいいか？」などにも触れたいと思っています。
                br
                | ラブライブ！ではかよちん推しです。みんなでお米食べよう。
              +timetable("l", "10", "Python製Webフレームワークの設計と実装", "カレーメシ", { twitter: "https://twitter.com/c_bata_", web: "http://c-bata.link" })
                | 最初に標準ライブラリのみを扱ったシンプルなWebアプリケーションをお見せします。
                br
                | そこから標準ライブラリに足りない機能、WEBアプリケーションフレームワークに提供して欲しい機能を考え、それらの問題をPython製WebフレームワークKobin ( 
                a(href="https://github.com/c-bata/kobin") https://github.com/c-bata/kobin
                |  ) でどのように解決・実装しているのか解説します。
                br
                | このセッションではWebアプリケーションフレームワークの役割を知ることで、Pythonに限らずWebフレームワークを使った開発を有利に進めることを目的としています。
                br
                | またKobinのソースコードを読んでみたいという方のためにKobinの各機能とソースコードの対応、Kobinと既存のWebフレームワークの違いを解説します。
              +timetable("l", "11", "D-PRO135°活動紹介", "D-PRO135°", { twitter: "https://twitter.com/135_d_pro" })
                | D-PRO135°（明石高専防災団）は、明石高専で防災士資格を取得した学生有志による、活動組織です。組織発足からまだ9カ月ですが、様々な防災活動を行ってきました。
                br
                | その活動の1つが、防災ゲーム「SECOND HAZARD」の製作です。ゲームの製作はすべて自分たちの手で行いました。「遊ぶだけで防災の知識が身につく」をコンセプトに何度も協議を重ね、ゲームの概要を決定。その後、阪神淡路大震災の被災者の方々から被災体験を伺い、ゲームに取り入れました。また、コマは3Dプリンタで製作するなど、高専らしさも盛り込んでいます。
                br
                | 「SECOND HAZARD」は、町の地図上で駒を進めるボードゲームになっています。プレイヤーはスタート地点から、途中で発生する災害を避けつつ、避難所を目指します。また、適する防災グッズを使うことで、災害を乗り超えることも可能です。
                br
                | まだまだ試作の段階ですが、協議や修正を重ね、多くの方々に遊んでもらえるゲームを完成させたいです。
              +timetable("l", "12", "", "ジースタイラス", { web: "http://www.studenthunting.com" })

        h2.circle-pink#booth ブース発表
        section
          p
            | ブース発表の一覧は以下の通りです。
            br
            | タイトル・発表者情報は変更になる場合がありますが、発表そのものが変わることはありません。
            br
          img.booth-size(src="./images/room/booth-size.png" alt="180cm四方のブースです。机の奥行きは45cm、隣のブースとの間は50cmあります。")
          p
            small ※ 4月15日（金）20:00現在
            br
            small 発表タイトル・発表者名・発表者情報（名前・リンク）の変更は kosenconf-lol[at]googlegroups.com ([at]を@に変更してください) から承っております。
          table.booth-timetable
            tr
              th ブース番号
              th タイトル
              th 発表者
            +timetable("b", "1", "ｻﾊﾞﾉﾋｶﾘﾓﾉ", "Shuft鯖", { web: "http://coils.work" })
              | 鯖です。ﾋｶﾘﾓﾉを展示します。いままで鯖名義でやってきた工作物展示を行います。
              br
              | 主に、光る(ピックアップ)ギターを実際に展示してみてもらいつつ適度に自分の解説を入れる具合になると思います。
              br
              | ですが、これでは少ないと思うのと鯖はﾋｶﾘﾓﾉなので授業用に作ったNode.jsを用いたバーサライタプログラムジェネレータ(改)とArduinoを用いて、バーサライタの展示をできたらと思います。
              br
              | ジェネレータを用いることで簡単にプログラムが作れるので、バーサライタで文字や絵の表現ができるような体験展示を予定しています。
            +timetable("b", "2", "カップル専用アプリ触れます", "うなすけ", { web: "https://blog.unasuke.com" })
              | カップル専用アプリの触れるスマホを1組用意します。
              br
              | どなたでもでも自由に触れるようにしてカップル専用アプリの使いごこちを感じてもらいます。
            +timetable("b", "3", "chatbox", "chatbox", { web: "http://chatbox-inc.com" })
              | 簡単な会社の教育制度やコミュニティの紹介等させてもらう予定です。
            +timetable("b", "4", "FREE HUG", "いらいざ")
              | FREE HUGやります、待ってます。
            +timetable("b", "5", "CTFコンテスト", "Akashi_SN、Snow", { web: "https://akashisn.azurewebsites.net" })
              | CTFの紹介スライド発表します。
              br
              | 更に興味を持ってくれた方にパソコンが必要ない問題を渡します。
            +timetable("b", "6", "サーマルプリンターであそぼ！！！！！", "うに", { web: "http://Nishimago.me" })
              | サーマルプリンターを使ったアプリケーションの実演を行います。
              br
              | 普段はレシートの印刷などでよく目にすることが多いですが、シリアル通信を使うことで汎用的に使うこともできます。この発表では、アプリケーションの実演を行いつつ動作の解説を行っていきたいと思います。どんなアプリケーションを実演するかは当日のお楽しみに！！！
              br
              | ※あとはOPACも作る予定でしたが、タスクが多すぎたので諦めました。許してください。
            +timetable("b", "7", "GitHub Japan", "GitHub Japan", { web: "http://github.co.jp" })
              | GitHubです。
            +timetable("b", "8", "A Whole New Router World", "ルータ芸人（@puhitaku/末田卓巳）", { web: "http://zopfcode.hateblo.jp" })
              | 「いつでも探してしまう、どっかに君（CPU）の姿を…向かいのルータ、Kindleの中、こんなとこにいるはずもないのに（実際いる）」
              br
              | ワンコインでWi-Fiチップが手に入る今日、ものづくりの欲求は急速に満たされつつあります。
              br
              | 入門しづらいとされたハードウェアの領域すらも、今や簡単に触れる土台が整っています。
              br
              | しかし同時に、中身を理解せずとも使える機器 ― いわゆるブラックボックス ― が身近に増え、高度な機器であることすら意識せず使うことが多くなりました。
              br
              | ここで1つだけ知っていただきたいことがあります。
              br
              | それらブラックボックスの中身が何でできているかを知り、そしてそれを意のままに操れるとわかった時、あなたにとっての「ものづくり」と「ハードウェア」は確実に変化を遂げることでしょう。
              br
              | その一片を、このブースで体験してもらえると幸いです。
            +timetable("b", "9", "素晴らしい僕のいるコミュニティたち", "denari01", { web: "http://denari.link" })
              | 私はこれまで、高専カンファレンス界隈やkosen10sといった高専コミュニティを始めとして、様々なコミュニティに参加し、様々なイベントの運営に携わってきました。
              br
              | そこで本ブースでは、私の行ってきたもの、作ってきたものを展示し、紹介することを通じて、参加者各位に僕の持っているコミュニティ運営術・イベント運営術・コミュニケーション術をお教えしようと思います。
              br
              | 例えば、高専カンファレンス100 in 東京。
              br
              | 本来高専カンファレンスのデザイナーというのは、基本的にはポスターを一枚作ってお役御免になることが多い、という歴史的背景がありました。
              br
              | しかし、私はデザイナーとして、ポスターから名札に貼るシールまで、様々なものをデザインしました。
              br
              | 歴史的な背景を壊し、デザイナーの活躍するカンファレンスを作り上げるために行った、いろんな苦労話、成功談、失敗談を、自分の作ったデザイン成果物を展示することを通じて紹介します。

              また、他にも kosen10s・pycon jp 2016・ゆるパブリック・j社・b社・学生時代 など、様々なコミュニティに所属してきたので、それぞれに対して、同様の紹介を行っていく予定です。
            +timetable("b", "10", "防災ゲーム展示", "D-PRO135°", { web: "https://www.facebook.com/d.pro135.e" })
              | D-PRO135°（明石高専防災団）は、明石高専で防災士資格を取得した学生有志による、活動組織です。
              br
              | 組織発足からまだ9カ月ですが、様々な防災活動を行ってきました。
              br
              | その活動の1つが、防災ゲーム「SECOND HAZARD」の製作です。ゲームの製作はすべて自分たちの手で行いました。
              br
              | 「遊ぶだけで防災の知識が身につく」をコンセプトに何度も協議を重ね、ゲームの概要を決定。その後、阪神淡路大震災の被災者の方々から被災体験を伺い、ゲームに取り入れました。
              br
              | また、コマは3Dプリンタで製作するなど、高専らしさも盛り込んでいます。
              br
              | 「SECOND HAZARD」は、町の地図上で駒を進めるボードゲームになっています。
              br
              | プレイヤーはスタート地点から、途中で発生する災害を避けつつ、避難所を目指します。また、適する防災グッズを使うことで、災害を乗り超えることも可能です。
              br
              | まだまだ試作の段階ですが、協議や修正を重ね、多くの方々に遊んでもらえるゲームを完成させたいです。
            +timetable("b", "11", "経営情報学科に通った話", "Yuya Oka")
              ul
                li 全国高専で唯一の宇部高専の経営情報学科に5年間通ったことで学んだこと。
                li 経営科目について少しだけ触れて新たな分野に手を伸ばすことで自分の強みにすることができるということを伝えたい。

        h2.circle-pink#party 懇親会
        section
          p
            | 本会の後には懇親会があります。
            br
            | lolな発表をしていた人、Twitterでは見たことあるけどまだ喋ったことがないあの人など、これをきっかけに新しいつながりを作ってみませんか？
          //- TODO: あなたの地元のお菓子を持ってきて懇親会で他の人のお菓子と交換しよう！

        h2.circle-pink 配信
        section
          p 当日はプレゼン発表・ブース発表の様子をUstreamで配信する予定です！

    include ./_footer
    include ./_scripts
    +scripts("timetable")
    script(src="./scripts/modal.js")
