include ./_head
include ./_global-nav
include ./_timetable

doctype html
html(lang="ja")
  head
    +head("タイムテーブル", "article")

  body
    +global-nav()

    div.wrapper
      section.section#timetable
        h1 TIMETABLE

        h2.circle-pink 全体の流れ
        section
          table
            tr
              th 12:00〜13:00
              td
                | 受付
                small  [階段教室]
            tr
              th 13:00〜13:05
              td
                | オープニング
                small  [階段教室]
            tr
              th 13:05〜15:55
              td
                a(href="#presentation") プレゼン発表（一般・LT）
                small  [階段教室]
            tr
              th 15:55〜16:00
              td
                | ブース発表の諸注意
                small  [階段教室]
            tr
              th 16:00〜16:15
              td 移動・休憩
            tr
              th 16:15〜16:45
              td
                a(href="#booth") ブース発表
                small  [合併教室]
            tr
              th 16:45〜16:55
              td 移動・休憩
            tr
              th 16:55〜17:05
              td
                | 宣伝・告知
                small  [階段教室]
            tr
              th 17:05〜17:20
              td
                | クロージング・写真撮影
                small  [階段教室]
            tr
              th 17:20〜17:30
              td 移動
            tr
              th 17:30〜19:00
              td
                a(href="#party") 懇親会
                small  [食堂]

        h2.circle-pink#presentation プレゼン発表
        section
          p
            | プレゼン発表の一覧は以下の通りです。
            br
            small ※ 4月9日（土）0:00現在
            br
            small 発表タイトル・発表者名・発表者情報（名前・リンク）の変更は kosenconf-lol[at]googlegroups.com ([at]を@に変更してください) から承っております。
          h3 一般発表
          table.presentation-timetable
            tr
              th 発表順
              th タイトル
              th 発表者
            +timetable("1", "けんきゅうはいいぞ", "izumin5210", "", { twitter: "https://twitter.com/izumin5210", web: "http://izumin.info" })
            +timetable("2", "組織のトップの良い選び方、そして無能をトップにすることによるその効果。", "ノアン", "")
            +timetable("3", "僕たちはなぜ「学ぶ」のだろうか？~高専出身教職勢による教育学入門~", "satuma", "", { twitter: "https://twitter.com/ARGV_sat777" })
            +timetable("4", "2017年最新版！大学生の就活", "なっちゃん", "", { twitter: "https://twitter.com/marin72_com" })
            +timetable("5", "どっちつかずの中途半端が考える課外活動と本業の両立について", "どくぴー", "")

          h3 Lightning Talk
          table.presentation-timetable
            tr
              th 発表順
              th タイトル
              th 発表者
            tr
              +timetable("1", "地名のおはなし", "うに", "", { twitter: "https://twitter.com/64G806" })
              +timetable("2", "知られざるロボコン交流会", "てんちょ", "")
              +timetable("3", "RPiオーディオシステムの自作", "もは", "")
              +timetable("4", "マルウェア解析してみた", "しょぼん", "", { twitter: "https://syobon.jp" })
              +timetable("5", "すぐにできるアプリ開発", "★RT☆", "", { twitter: "https://twitter.com/nuratokura" })
              +timetable("6", "都市科高専生がコンクリートについて語る", "zakuro", "", { twitter: "https://twitter.com/zakuro9715" })
              +timetable("7", "世界は繋がっている", "いるやん", "", { twitter: "https://twitter.com/Iruyan_Zak" })
              +timetable("8", "ラブライブ！で学ぶドメイン駆動しない設計入門", "じゅりあん", "", { twitter: ["https://twitter.com/MITLicense", "https://twitter.com/GNUGPLv3"] })
              +timetable("9", "lolカンファを支える技術", "やましー", "", { twitter: "https://twitter.com/yamasy1549", web: "http://yamasy.info" })
              +timetable("10", "Python製Webフレームワークの設計と実装", "カレーメシ", "", { twitter: "https://twitter.com/c_bata_" })
              +timetable("11", "D-PRO135°活動紹介", "D-PRO135°", "", { twitter: "https://twitter.com/135_d_pro" })
              +timetable("12", "", "ジースタイラス", "", { web: "http://www.studenthunting.com" })

        h2.circle-pink#booth ブース発表
        section
          p
            | ブース発表の一覧は以下の通りです。
            br
            | タイトル・発表者情報は変更になる場合がありますが、発表そのものが変わることはありません。
            br
          img.booth-size(src="./images/room/booth-size.png" alt="180cm四方のブースです。机の奥行きは45cm、隣のブースとの間は50cmあります。")
          p
            small ※ 4月15日（金）20:00現在
            br
            small 発表タイトル・発表者名・発表者情報（名前・リンク）の変更は kosenconf-lol[at]googlegroups.com ([at]を@に変更してください) から承っております。
          table.booth-timetable
            tr
              th ブース番号
              th タイトル
              th 発表者
            +timetable("1", "ｻﾊﾞﾉﾋｶﾘﾓﾉ", "Shuft鯖", "鯖です。ﾋｶﾘﾓﾉを展示します。いままで鯖名義でやってきた工作物展示を行います。 主に、光る(ピックアップ)ギターを実際に展示してみてもらいつつ適度に自分の解説を入れる具合になると思います。 ですが、これでは少ないと思うのと鯖はﾋｶﾘﾓﾉなので授業用に作ったNode.jsを用いたバーサライタプログラムジェネレータ(改)とArduinoを用いて、バーサライタの展示をできたらと思います。 ジェネレータを用いることで簡単にプログラムが作れるので、バーサライタで文字や絵の表現ができるような体験展示を予定しています。", { web: "http://coils.work" })
            +timetable("2", "カップル専用アプリ触れます", "うなすけ", "", { web: "https://blog.unasuke.com" })
            +timetable("3", "chatbox", "chatbox", "簡単な会社の教育制度やコミュニティの紹介等させてもらう予定です。", { web: "http://chatbox-inc.com" })
            +timetable("4", "FREE HUG", "いらいざ", "FREE HUGやります、待ってます。")
            +timetable("5", "CTFコンテスト", "Akashi_SN、Snow", "CTFの紹介スライド発表します。 更に興味を持ってくれた方にパソコンが必要ない問題を渡します。", { web: "https://akashisn.azurewebsites.net" })
            +timetable("6", "サーマルプリンターであそぼ！！！！！", "うに", "サーマルプリンターを使ったアプリケーションの実演を行います。 普段はレシートの印刷などでよく目にすることが多いですが、シリアル通信を使うことで汎用的に使うこともできます。この発表では、アプリケーションの実演を行いつつ動作の解説を行っていきたいと思います。どんなアプリケーションを実演するかは当日のお楽しみに！！！ ※あとはOPACも作る予定でしたが、タスクが多すぎたので諦めました。許してください。", { web: "http://Nishimago.me" })
            +timetable("7", "GitHub Japan", "GitHub Japan", "GitHubです。", { web: "http://github.co.jp" })
            +timetable("8", "A Whole New Router World", "ルータ芸人（末田卓巳）", "", { web: "http://zopfcode.hateblo.jp" })
            +timetable("9", "素晴らしい僕のいるコミュニティたち", "denari01", "", { web: "http://denari.link" })
            +timetable("10", "防災ゲーム展示", "D-PRO135°", "D-PRO135°（明石高専防災団）は、明石高専で防災士資格を取得した学生有志による、活動組織です。 組織発足からまだ9カ月ですが、様々な防災活動を行ってきました。 その活動の1つが、防災ゲーム「SECOND HAZARD」の製作です。ゲームの製作はすべて自分たちの手で行いました。 「遊ぶだけで防災の知識が身につく」をコンセプトに何度も協議を重ね、ゲームの概要を決定。その後、阪神淡路大震災の被災者の方々から被災体験を伺い、ゲームに取り入れました。 また、コマは3Dプリンタで製作するなど、高専らしさも盛り込んでいます。 「SECOND HAZARD」は、町の地図上で駒を進めるボードゲームになっています。 プレイヤーはスタート地点から、途中で発生する災害を避けつつ、避難所を目指します。また、適する防災グッズを使うことで、災害を乗り超えることも可能です。 まだまだ試作の段階ですが、協議や修正を重ね、多くの方々に遊んでもらえるゲームを完成させたいです。", { web: "https://www.facebook.com/d.pro135.e" })
            +timetable("11", "経営情報学科に通った話", "Yuya Oka", "全国高専で唯一の宇部高専の経営情報学科に5年間通ったことで学んだこと。 経営科目について少しだけ触れて新たな分野に手を伸ばすことで自分の強みにすることができるということを伝えたい。")

        h2.circle-pink#party 懇親会
        section
          p
            | 本会の後には懇親会があります。
            br
            | lolな発表をしていた人、Twitterでは見たことあるけどまだ喋ったことがないあの人など、これをきっかけに新しいつながりを作ってみませんか？
          //- TODO: あなたの地元のお菓子を持ってきて懇親会で他の人のお菓子と交換しよう！

        h2.circle-pink 配信
        section
          p 当日はプレゼン発表・ブース発表の様子をUstreamで配信する予定です！

    include ./_footer
    include ./_scripts
    +scripts("timetable")
