doctype html5
html(lang="ja")
  head
    include ./_head
    title 高専カンファlol

  body
    include ./_global-nav

    div.wrapper
      section.section#timetable
        h1 TIMETABLE

        h2.circle-orange 全体の流れ
        table
          tr
            th 12:00〜13:00
            td
              | 受付
              small （階段教室）
              br
              | ブース設営
              small （合併教室）
          tr
            th 13:00〜13:05
            td
              | オープニング
              small （階段教室）
          tr
            th 13:05〜15:55
            td
              | プレゼン発表
              small （階段教室）
          tr
            th 15:55〜16:00
            td
              | ブース準備
              small （合併教室）
              br
              | ブース展示説明
              small （階段教室）
          tr
            th 16:00〜16:15
            td 移動・休憩
          tr
            th 16:15〜16:45
            td
              | ブース発表
              small （合併教室）
          tr
            th 16:45〜16:55
            td 移動・ブース撤収
          tr
            th 16:55〜17:05
            td
              | 宣伝告知
              small （階段教室）
          tr
            th 17:05〜17:15
            td
              | クロージング
              small （階段教室）
          tr
            th 17:15〜17:20
            td
              | 写真撮影
              small （階段教室）
          tr
            th 17:20〜17:30
            td 移動
          tr
            th 17:30〜19:00
            td
              | 懇親会
              small （食堂）

    include ./_footer
    include ./_scripts
