include ./_head
include ./_global-nav

doctype html
html(lang="ja")
  head
    +head("タイムテーブル", "article")

  body
    +global-nav()

    div.wrapper
      section.section#timetable
        h1 TIMETABLE

        h2.circle-pink 全体の流れ
        section
          table
            tr
              th 12:00〜13:00
              td
                | 受付
            tr
              th 13:00〜13:05
              td
                | オープニング
                small  [階段教室]
            tr
              th 13:05〜15:55
              td
                a(href="#presentation") プレゼン発表（一般・LT）
                small  [階段教室]
            tr
              th 15:55〜16:00
              td
                | ブース発表の諸注意
                small  [階段教室]
            tr
              th 16:00〜16:15
              td 移動・休憩
            tr
              th 16:15〜16:45
              td
                a(href="#booth") ブース発表
                small  [合併教室]
            tr
              th 16:45〜16:55
              td 移動・休憩
            tr
              th 16:55〜17:05
              td
                | 宣伝・告知
                small  [階段教室]
            tr
              th 17:05〜17:20
              td
                | クロージング・写真撮影
                small  [階段教室]
            tr
              th 17:20〜17:30
              td 移動
            tr
              th 17:30〜19:00
              td
                a(href="#party") 懇親会
                small  [食堂]

        h2.circle-pink#presentation プレゼン発表
        section
          p プレゼン発表では、一般発表とLightning Talkの2種類の発表形式で募集を行います。
          h3 一般発表
          p
            | 一般発表の発表時間は
            strong 10分
            | です。
          p 例えば、
          ul
            li 私、最近こんなもの作りました！
            li 〇〇のすゝめ
          p
            | などなど公的良俗に反しなければ、なんでもOKです。
            br
            | 10分というちょっと長い発表時間をフルに活かした、ちょっとディープな発表、してみませんか？
          h3 Lightning Talk
          p
            | Lightning Talk の発表時間は
            strong 5分
            | です。
          p たった5分なので、気軽に発表をしてもらえるといいなあ、と思います。
          ul
            li 最近興味があって調べたこと
            li 実は私、こんな趣味があって…
            li 皆さんに知ってほしいことがあるんです！ etc…
          p
            | 布教やステマなどなんでもOKです！
            br
            | 発表経験がない現役生の方も、ぜひこの機会に発表してみませんか？
          p: a.btn(href="./application.html#presentation") プレゼン発表の募集情報はこちら

        h2.circle-pink#booth ブース発表
        section
          p
            | 高専カンファレンスlolでは「ブース発表」を企画しています。
            br
            | ブース発表では発表者の皆様にブース（机）をご用意します。ブース発表では基本的にどのようなことをしていただくのも自由です。
            br
            | 例えばこんな発表はいかがでしょうか？
          ul
            li 俺が作った工作物を見てくれ！
            li 今こういうことで悩んでいるんだ、助けてくれ！
            li うちの会社・俺はこんなことやってるんですよ〜
            li こんな研究してみたよ！どう？
            li 俺流高専カンファレンスlol限定グッズを売りたい・配りたい！
            li 私と握手しませんか？
            li 私（たち）と一緒にこんなことやってみませんか？
          p
            | また、ブース発表会場での宣伝ポスターの掲示の依頼も受け付けております。
            br
            | その他、やってみたいことがあれば、お気軽に運営にお問い合わせください！
          h3 宣伝ポスターについて
          p また、ブース発表会場でのポスターの掲示の依頼も受け付けております。
          p 企業様の宣伝用ポスターから、イベント告知、絵を描いてみた！まで、様々なポスターの掲示依頼を募集しています。
          p: a.btn(href="./application.html#booth") ブース発表・ポスター掲示の募集情報はこちら

        h2.circle-pink#party 懇親会
        section
          p
            | 本会の後には懇親会があります。
            br
            | lolな発表をしていた人、Twitterでは見たことあるけどまだ喋ったことがないあの人など、これをきっかけに新しいつながりを作ってみませんか？
          //- TODO: あなたの地元のお菓子を持ってきて懇親会で他の人のお菓子と交換しよう！

    include ./_footer
    include ./_scripts
