doctype html5
html(lang="ja")
  head
    include ./_head
    title 高専カンファlol

  body
    include ./_global-nav

    div.wrapper
      section.section#timetable
        h1 TIMETABLE

        //- h2.circle-orange プレゼン発表
        //- h2.circle-orange ブース発表
        //- h2.circle-orange 懇親会

        p Comming soon...!

    include ./_footer
    include ./_scripts
