.global-nav {
  box-shadow: 0 1px 10px 0 rgba($black, .1);

  ul {
    display: flex;
    align-items: baseline;
    margin: 0 100px;

    .nav-item {
      flex: 1;
      list-style: none;

      a {
        color: $black;
        text-decoration: none;
        display: block;
        text-align: center;
        line-height: 60px;
        letter-spacing: 2px;
        font-size: 0.9rem;
      }

      .top-img { height: 60px; }

      .top {
        &:hover,
        &:active {
          background-image: url('../image/simplelogo-back.png');
          background-size: cover;
        }
      }

      .date {
        &:hover,
        &:active {
          background-image: url('../image/circle-orange.png');
          background-size: contain;
        }
      }

      .timetable {
        &:hover,
        &:active {
          background-image: url('../image/circle-yellow.png');
          background-size: contain;
        }
      }

      .access {
        &:hover,
        &:active {
          background-image: url('../image/circle-green.png');
          background-size: contain;
        }
      }

      .contact {
        &:hover,
        &:active {
          background-image: url('../image/circle-blue.png');
          background-size: contain;
        }
      }

      .about {
        &:hover,
        &:active {
          background-image: url('../image/circle-pink.png');
          background-size: contain;
        }
      }
    }
  }
}
